@charset "UTF-8";

/* Basic Setting */
html, body {height: 100% !important; font-size:12px; line-height: 1.3em; margin: 0; padding: 0; background-color: #ffffff;}
img {vertical-align:middle;}

/* Element Definitions */
h1 {float:left; margin-top:15px; padding:0;}
h2 {width:180px; height:46px; margin:0 0 0px 0; text-align:left;}
h3 {float:left; height:22px;}
h4 {clear:both; height:14px; padding:1px 0 0 21px;}

/* General Classification */
.cBoth {display:block; float: none; clear: both; height: 0; width:0; font-size: 0 !important; line-height: 0 !important; margin: 0 !important; padding: 0 !important; }

/*Link*/
a,a:link,a:visited	{color:#777; text-decoration:none;}
a:hover,a:active	{color:#777; text-decoration:none;}

/*Form Type*/
legend {position:absolute; top:0; left:0; visibility:hidden; width:0; height:0; font-size:0; line-height:0;}
label {cursor:pointer; color:#585858;}
input, select, textarea {vertical-align:middle;font-size: 12px}
select {height:22px;border:1px solid #cbcbcb;vertical-align:middle;}
input.txt, input.txt01 {padding:2px 2px 2px 2px; border:1px solid #cbcbcb; background-color:#fff;}
input.txt01, textarea.nt_area {border:1px solid #ddd;} 
textarea.nt_area {width:92%; height:300px; padding:5px; line-height:1.3em; text-align:left;}

/* Float Type */
.rf {display:inline; float:right; }
.lf {display:inline; float:left; }

/* Width */
.w5p {width: 5%; }
.w6p {width: 6%; }
.w7p {width: 7%; }
.w8p {width: 8%; }
.w9p {width: 9%; }
.w10p {width: 10%;}
.w12p {width: 12%;}
.w13p {width: 13%;}
.w15p {width: 15%;}
.w18p {width: 18%;}
.w20p {width: 20%;}
.w23p {width: 23%;}
.w25p {width: 25%;}
.w30p {width: 30%;}
.w32p {width: 32%;}
.w33p {width: 33%;}
.w35p {width: 35%;}
.w40p {width: 40%;}
.w45p {width: 45%;}
.half {width: 50%;}
.w55p {width: 55%;}
.w60p {width: 60%;}
.w70p {width: 70%;}
.w80p {width: 80%;}
.w90p {width: 90%;}
.w100% {width: 100%;}

/* Margin Step */
.bm1 {margin-bottom:1px;}
.bm5 {margin-bottom:5px;}
.bm10 {margin-bottom:10px;}
.bm13 {margin-bottom:13px;}
.bm14 {margin-bottom:14px;}
.bm20 {margin-bottom:20px;}
.bm30 {margin-bottom:30px;}
.bm60 {margin-bottom:60px;}
.bm100 {margin-bottom:100px;}

.lm5	{margin-left:5px; }
.lm10	{margin-left:10px; }
.lm15	{margin-left:15px; }
.lm20	{margin-left:20px; }
.lm25	{margin-left:25px; }
.lm30	{margin-left:30px; }
.lm40	{margin-left:40px; }
.lm45	{margin-left:45px; }
.lm50	{margin-left:50px; }
.lm60	{margin-left:60px; }
.lm70	{margin-left:70px; }
.lm80	{margin-left:80px; }
.lm90	{margin-left:90px; }
.lm100	{margin-left:100px; }
.lm150	{margin-left:150px; }
.lm170	{margin-left:170px; }

.tm3	{margin-top:3px; }
.tm5	{margin-top:5px; }
.tm6	{margin-top:6px; }
.tm10	{margin-top:10px; }
.tm13	{margin-top:13px; }
.tm15	{margin-top:15px; }
.tm20	{margin-top:20px; }
.tm25	{margin-top:25px; }
.tm30	{margin-top:30px; }
.tm40	{margin-top:40px; }
.tm45	{margin-top:45px; }
.tm50	{margin-top:50px; }
.tm55	{margin-top:55px; }
.tm60	{margin-top:60px; }
.tm70	{margin-top:70px; }
.tm80	{margin-top:80px; }
.tm85	{margin-top:85px; }
.tm90	{margin-top:90px; }

.rm5	 {margin-right:5px; }
.rm10	 {margin-right:10px; }
.rm15	 {margin-right:15px; }
.rm20	 {margin-right:20px; }
.rm25	 {margin-right:25px; }
.rm30	 {margin-right:30px; }

.bp5	{padding-bottom:5px;}
.bp10	{padding-bottom:10px;}
.bp15	{padding-bottom:15px;}
.bp20	{padding-bottom:20px;}
.bp25	{padding-bottom:25px;}

.lp5	{padding-left:5px;}
.lp10	{padding-left:10px;}
.lp15	{padding-left:15px;}
.lp20	{padding-left:20px;}
.lp25	{padding-left:25px;}

.tp5	{padding-top:5px;}
.tp10	{padding-top:10px;}
.tp15	{padding-top:15px;}
.tp20	{padding-top:20px;}
.tp25	{padding-top:25px;}

.rp5	{padding-right:5px;}
.rp10	{padding-right:10px;}
.rp15	{padding-right:15px;}
.rp20	{padding-right:20px;}
.rp25	{padding-right:25px;}


/* Color */
.accent	{color:#ff3300;}
.dblue {color:#124b9a;}
.wblue {color:#205fb5;}
.important	{color:#ff3300; font-size:11px; font-family:Meiryo,"돋움", Tahoma, sans-serif;}
.wgray {color:#878787;}
.wgreen {color:#529410;}

/* Font size */
.f11 {font-size:11px;}
.f10 {font-size:10px;}

/* Text Align */
.btnscenter {text-align:center;}
.btnsright {text-align:right;}
.vmid{vertical-align:middle;}

/* Etc */
p {margin:0; padding:0;}
.nbrd {margin-top:-1px; border:0; background:none; }
.hidden {overflow:hidden; position:absolute; top:-10000px; width:0; height:0; line-height:0; visibility:hidden;}
hr {display:none;}
.bold {font-weight:bold;}
