@charset "UTF-8";

/*  */
/* =======================================================================================
common
======================================================================================= */
/*
:root{    
    //1. scss darken에 적용이 되지 않음.
    //2. 1번이 되지 않아서 --color1을 변수에 넣어보려고 했으나 $color 변수를 받지 못함.
    //3. 결정적으로 ie11에서 사용하려면 css-vars-ponyfill을 사용하여야함.
    //4. 현 시점(2021.06.10)에서 ie10까지 맞춰야 하기 때문에 적용불가
    --color1 : #244883; //gnb
    --color2 : #282E3E; //top, footer
    --color3 : #3d4968; //snb, sns, join_submit_btn
    --color4 : #3063b4; //checkbox, note
    --gray : #f7f8fa; //join
    --gray2 : #4D4D4D;
    --headerHeight: 20rem;
    --fixedHeadH: 9.8rem;
    --mobileHeadH : 13.1rem;
}
*/
:root {
    /*   --brandcolor: hsl(331, 100%, 45%); E4006E
    --bg: hsl(331, 100%, 45%, .05); */
    --primary: hsl(198, 100%, 41%);
    /* #0090D0 */
    --blue: hsla(198, 100%, 41%);
    /* #0078CC */
    --red: hsl(4, 100%, 40%);
    /* #CC0E00 */
    --gray9: hsl(240, 7%, 97%);
    /* #F7F7F8 */
    --dark3: hsl(200, 6%, 81%);
    /* #CCD0D2 */
    --dark2: hsl(206, 7%, 60%);
    /* #91999F */
    --dark1: hsl(203, 20%, 25%);
    /* #3A3E40 */
    --dark0: hsl(204, 100%, 6%);
    /* #001421 */
    --yellow: hsl(49, 100%, 50%);
    /* #ffcf6a */
    --purple: hsl(290, 49%, 37%);
    /* #7E318E */
    --pink: hsl(333, 83%, 49%);
    /* #E61673 */
    --green: hsl(79, 73%, 44%);
    /* #8FC31F */
    --darkblue: hsl(205, 100%, 28%);
    /* #00538D */

    --blue-alpha20: hsla(198, 100%, 41%, .2);
    --blue-alpha05: hsla(198, 100%, 41%, .05);
    --g_01: linear-gradient(90deg, rgba(47, 59, 127, 1) 0%, rgba(15, 23, 67, 1) 100%);

    --basic_yellow: #ffcf6a;
    --basic_black: #1a1a1a;
    --basic_grey: #a1a1a1;

    --basic_dBlue: #1b317a;
    --basic_lBlue: #8cbcff;
    --basic_Brown: #ad794f;
    --basic_lBrown: #d5a170;
    --basic_vlBrown: #fffae6;
}

:lang(en) {
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.container.fullView {
    max-width: auto;
    margin: 0 auto;
    position: relative;
}

/*
.pc{display:block}
.mobile{display:none}
*/
.header .topmenu a[target=_blank]::after {
    display: inline-block;
    font-family: xeicon;
    content: "\e980";
    font-size: 1em;
    margin-left: 0.3rem;
    font-weight: 300;
}

/* =======================================================================================
header
======================================================================================= */
.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    min-height: 16.3rem;
    border-bottom: 1px solid rgba(149, 160, 183, 0.25);
    background-color: #fff;
    color: var(--dark0);
}

.header .container {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.active {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
}

.header.fixed {
    position: fixed;
    min-height: 7rem;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
}

.header.fixed .logo_search {
    border-bottom: 0;
    padding: 0;
}

.header.fixed .logo_search .gnb_util {
    display: none;
}

.header.fixed .logo_search .sch_layer {
    display: none;
}

.header.fixed .logo_search .logo {
    position: absolute;
    top: 1rem;
}

.header.fixed .logo_search .link {
    width: 22.316rem;
    height: 3.2rem;
}

.header.fixed .topmenu {
    justify-content: flex-end;
    width: calc(100% - 270px - 40px);
    margin-left: auto;
    gap: 1rem;
}

.header.fixed .topmenu .depth1>a span {}

.header.fixed .topmenu .submenu {
    top: 5.3rem;
}

.logo_search {
    padding: 2rem 0 0rem 0;
}

.logo_search .logo {
    padding: 1rem 0 1rem 0;
}

.logo_search .link {
    display: block;
    width: 26.5rem;
    height: 3.8rem;
    background: url(../img/common/o_logo.svg) 0 0/contain no-repeat;
}

.logo_search .link.st2 {
    background: url(../img/common/logo1.svg) 0 0/contain no-repeat;
    background-position: center;
}

.logo_search .gnb_util {
    display: flex;
    align-items: center;
}

.logo_search .gnb_util .welcome {
    padding: 0.8rem;
    display: block;
    font-size: 1.5rem;
}

.logo_search .gnb_util .welcome .badge {
    display: inline-block;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    background-color: #FF4553;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.logo_search .gnb_util a {
    padding: 0.8rem 0.4rem;
    display: block;
}

.logo_search .gnb_util .logout {
    display: flex;
    justify-content: space-between;
}

.logo_search .gnb_util .nav li {
    display: inline-block;
    font-size: 1.6rem;
}

.logo_search .gnb_util .nav li~li {
    position: relative;
    padding-left: 0.8rem;
    margin-left: 0.8rem;
}

.logo_search .gnb_util .member_area {
    margin-right: 3rem;
}

.logo_search .gnb_util .member_area .go_ps {
    color: #1857df;
    font-weight: 500;
}

.logo_search .btn_sch_open {
    display: none;
}

.logo_search .sch_layer {
    padding: 0.3rem;
    display: block;
    border-radius: 2.6rem;
    border: 1px solid #E2EAF0;
}

.logo_search .sch_layer::-moz-placeholder {
    color: #aaa;
}

.logo_search .sch_layer::placeholder {
    color: #aaa;
}

.logo_search .sch_layer .sch_form {
    display: flex;
    align-items: center;
}

.logo_search .sch_layer .title, .logo_search .sch_layer .btn_sch_close {
    display: none;
}

.logo_search .sch_layer input {
    width: 35rem;
    border: 0;
    outline: 0;
    margin-left: 1.5rem;
}

.logo_search .sch_layer .btn_sch {
    padding: 0.9rem 1.5rem;
}

/*
.sch_layer{@include inactive(.3s); @include pos(lt, 0, 10.1rem); z-index:4;background:#f9f9fb;width:100%; text-align:center;padding:3rem 0;box-shadow:0 2rem 2rem rgba(0,0,0,.12); 
    .container{position: relative;}
    .title{font-size:3rem;color:#46464a;margin-right:4rem;display: inline-block;vertical-align: middle;}
    input[type=text]{border:2px solid #46464a;color:#727272;font-size:2rem;width:50rem;padding:1.5rem 5rem 1.5rem 1.5rem;box-shadow:1rem 1rem 1rem rgba(0,0,0,.1)}
    .btn_sch{font-size:2.5rem;color:#242427;margin-left:-5rem;vertical-align:middle}
    .btn_sch_close{ @include pos(rt, 5.9rem, 1rem); 
        i{color:$color1;font-size: 3rem;font-weight:700}
    }    
}*/
.gnb_area .btn_allmenu {
    order: 1;
}

.gnb_area .btn_allmenu i {
    font-size: 2.8rem;
    font-weight: 700;
}

.gnb_area .pop_title, .gnb_area .pop_close {
    display: none;
}

@keyframes dropUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.gnb_area {
    position: relative;
    display: flex;
    overflow: hidden;
}

.gnb_area .counsel_box {
    position: absolute;
    left: 0rem;
    top: 8.1rem;
    min-width: 30rem;
    height: 60rem;
    background: url(../img/new_main/y_bg.png) center no-repeat;
    overflow: hidden;
}

.allmenu .gnb_area {
    position: static;
    overflow: inherit;
}

.allmenu .gnb_area .counsel_box {
    display: none;
}


.topmenu {
    width: 100%;
    /* display: inline-flex;
    justify-content: center; */
    padding: 1.2rem 0.625rem;
    align-items: flex-start;
    /* gap: 7rem; */
    letter-spacing: -0.0225rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.topmenu .depth1 {
    flex: 1 1 auto;
    position: relative;
}

.topmenu .depth1>a {
    display: block;
}

.topmenu .depth1>a span {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: inherit;
    padding: 1.5rem 0;
    position: relative;
    letter-spacing: -0.05em;
    overflow: hidden;
}

.topmenu .depth1>a span::before {
    content: "";
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0;
    height: 0.4rem;
    width: 0;
    background-color: #0090D0;
    transition: 0.2s;
}

/* .topmenu .depth1 > a span::after {
  content: "";
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -0.7rem;
  border: solid transparent;
  border-width: 0.7rem 0.5rem;
  border-bottom-color: hsl(205, 100%, 28%);
  transition: 0.2s;
} */
.topmenu .depth1~.depth1>a {
    position: relative;
    padding-left: 0.6rem;
    margin-left: 0.6rem;
    margin-left: 0;
}

/* .topmenu .depth1 ~ .depth1 > a::before {
  content: "";
  display: block;
  background-color: #ccc;
  width: 1px;
  height: 1rem;
  position: absolute;
  transform: translate(0, -50%);
  left: 0;
  top: 50%;
} */
/* .topmenu .depth1 ~ .depth1 > a::before {
  transform: translate(-50%, -50%) rotate(45deg);
} */
.topmenu .depth1.active>a span::before {
    width: 100%;
}

.topmenu .depth1.active>a span::after {
    bottom: 0.3rem;
    transition-delay: 0.2s;
}

.topmenu .depth1.active .submenu {
    opacity: 1;
    visibility: visible;
    max-height: 100rem;
    /* transition-delay: 0.2s; */
}

.topmenu .depth1.on>a span::before {
    content: "";
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0;
    height: 0.3rem;
    width: 100%;
    background-color: #0090D0;
    transition: 0.2s;
    z-index: 21;
}

.topmenu .depth1.on .submenu {
    opacity: 0;
}

.topmenu .depth1.active.on .submenu {
    opacity: 1;
}

.topmenu .submenu {
    /* transition: 0.35s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98); */
    /* opacity: 0;
    visibility: hidden; */
    overflow: hidden;
    max-height: 0;
    /* position: absolute;
    left: -2rem;
    top: 5.7rem; */
    z-index: 20;
    /* min-width: 180px; */
    /* background-color: #fff; */
    text-align: center;
    /* border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12); */
    width: 100%;
    word-break: keep-all;
}

.topmenu .depth2 {
    margin: 2rem;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.topmenu .depth2>li {
    flex: 0 0 23.2%;
    margin-left: 0;
    position: relative;
    margin-bottom: 0rem;
}

.topmenu .depth2>li:last-child {
    margin-bottom: 0rem;
}

.topmenu .depth2>li>a {
    display: block;
    padding: 1rem .5rem;
    font-size: 1.6rem;
    color: inherit;
    font-weight: 500;
}

.topmenu .depth2>li>a:hover {
    color: #0090D0;
    transition: 0.25s;
}

.topmenu .depth2>li.is-depth3>a {
    position: relative;
}

.topmenu .depth2>li.is-depth3>a::after {
    display: inline-block;
    font-family: xeicon;
    content: "\e942";
    font-size: 1.8rem;
    color: #333;
    position: absolute;
    transform: translate(0, -50%);
    right: 2rem;
    top: 50%;
}

.topmenu .depth3 {
    margin: 1.5rem 0 2.5rem 1rem;
}

.topmenu .depth3 a:hover {
    color: hsl(205, 100%, 28%) !important;
    font-weight: 700 !important;
    text-decoration: underline;
}

.topmenu .depth3>li>a {
    color: #727272;
    display: block;
    padding: 0.7rem 0 0.7rem 1rem;
    position: relative;
}

.topmenu .depth3>li>a::before {
    content: "";
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 0;
    top: 1.5rem;
    border-radius: 50%;
    background-color: #b3bec1;
}

.topmenu .depth4 {
    display: none;
}

.topmenu.fullmenu .depth1>a::before {
    width: 0;
}

.topmenu.fullmenu .depth1:hover>a::before, .topmenu.fullmenu .depth1.on>a::before {
    width: 100%;
}

.topmenu.fullmenu .depth1.active .submenu {
    transition: margin 0.3s, opacity 0.5s, max-height 1.35s cubic-bezier(0.13, 0.67, 0.59, 0.98);
    transition-delay: 0.2s;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.topmenu.fullmenu .submenu {
    transition: 0.35s;
    width: auto;
    position: static;
    left: auto;
    background-color: transparent;
    border-top: 0;
    box-shadow: none;
}

.topmenu.fullmenu .submenu .title_area {
    display: none;
    padding: 0;
}

.topmenu.fullmenu .submenu .depth2 {
    padding-left: 0;
    max-width: inherit;
    /*flex-direction: column;ie에서 안됨*/
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.topmenu.fullmenu .submenu .depth2>li {
    margin-bottom: 0;
}

.topmenu.fullmenu .submenu .depth2>li>a {
    border: 0;
}

.topmenu.fullmenu .submenu .depth3 {
    display: none;
}

.header.active .topmenu .depth1 a.active::before {
    opacity: 0.3;
}

.header.active .topmenu .depth1.active a.active::before {
    opacity: 1;
}

.allmenu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.allmenu .pop_title {
    display: inline-block;
    color: #242427;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    padding-left: 2rem;
    position: relative;
}

.allmenu .pop_title::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1.4rem;
    background-color: #C4C4C4;
    margin-left: 2rem;
}

.allmenu .pop_title::before {
    content: "Site Map";
    color: var(--dark2, #333);
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 400;
    padding-left: 2rem;
    position: absolute;
    left: 100%;
    top: 1rem;
    white-space: nowrap;
}

.allmenu .pop_close {
    display: block;
    position: absolute;
    right: 3rem;
    top: 3rem;
    font-size: 2.5rem;
    color: #242427;
}

.allmenu .header {
    position: static;
}

.allmenu .header .member_area {
    display: block;
}

.allmenu .header .gnb_area .nav {
    display: block;
    width: 1280px;
    height: 90%;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 220;
    border-radius: 0;
    padding: 3rem;
}

.allmenu .header .gnb_area .nav::before {
    display: none;
}

.allmenu .topmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 90%;
    padding-right: 2%;
    overflow: auto;
    /*
  .depth4{display:block;
      >li>a{color:#727272;display:block;font-size:1.4rem;padding:.5rem 0 .5rem 1rem;position:relative}            
      >li>a::before{content:'';display:block;width:.3rem;height:.3rem; @include pos(lt, 0, 1.2rem); border-radius:50%;background-color:#b3bec1}
  }
  */
}

.allmenu .topmenu::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 1rem;
}

.allmenu .topmenu::-webkit-scrollbar {
    width: 0.6rem;
}

.allmenu .topmenu::-webkit-scrollbar-thumb {
    background-color: #d5d7dc;
    border-radius: 1rem;
}

.allmenu .topmenu .submenu {
    opacity: 1;
    visibility: visible;
    max-height: inherit;
    position: static;
    box-shadow: none;
}

.allmenu .topmenu .submenu::before {
    display: none;
}

.allmenu .topmenu .depth1 {
    position: relative;
    width: 18%;
    margin-left: 2%;
    margin-bottom: 2rem;
    flex: inherit;
}

.allmenu .topmenu .depth1:hover>a {
    background-color: var(--primary);
    border-color: var(--primary);
}

.allmenu .topmenu .depth1:hover>a span {
    color: #fff;
}

.allmenu .topmenu .depth1>a {
    /*@include pos(lt, 0, 2rem);*/
    font-size: 2.8rem;
    padding-left: 0;
    margin-left: 0;
    background-color: var(--blue-alpha05);
    border-radius: 1rem;
    transition: 0.2s;
}

.allmenu .topmenu .depth1>a span {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    color: var(--primary, #333);
    font-weight: 700;
}

.allmenu .topmenu .depth1:last-child {
    display: block;
}

.allmenu .topmenu .depth2 {
    display: block;
    padding-left: 0;
    margin: 1rem 0 0 0;
}

.allmenu .topmenu .title_area, .allmenu .topmenu .depth1>a::before, .allmenu .topmenu .depth2>li>a::after {
    display: none;
}

.allmenu .topmenu .depth2>li {
    margin-bottom: 0;
    margin-left: 0;
}

.allmenu .topmenu .depth2>li>a {
    border: 0;
    font-size: 1.8rem;
    color: #383b40;
}

.allmenu .topmenu .depth2>li>a:hover {
    background-color: var(--gray9, #EDF7FC);
}

.allmenu .topmenu .depth3 {
    margin: 0 0 0 1.5rem;
}

.allmenu .topmenu .depth3>li>a {
    color: #46464a;
}

.allmenu::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
}

.allmenu .btn_allmenu {
    display: none;
}

.allmenu .main {
    margin-top: 0;
}

.main {
    position: relative;
    width: 100%;
    margin-top: 16.3rem;
}

/* 강사 로그인 */
#wrap.prof .header {
    min-height: 8.5rem;
}

#wrap.prof .main {
    margin-top: 8.5rem;
}


/*.fixed + .main{margin-top: $fixedHeadH;}*/
/* =======================================================================================
go_top
======================================================================================= */
.go_top {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #889;
    color: #fff;
    position: fixed;
    text-align: center;
    right: 2.5rem;
    bottom: 2.5rem;
    z-index: 8;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.go_top i {
    font-size: 2rem;
}

.go_top span {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
}

.go_top:hover {
    background-color: #50505A;
}

.go_top.fixed {
    opacity: 1;
    visibility: visible;
}

.go_top.stick {
    position: absolute;
    transform: translate(0, 50%);
    left: auto;
    bottom: 0;
    bottom: 4rem;
}

@media (max-width:1024px) {
    .go_top.stick {
        bottom: 1rem;
    }

    .gnb_area .counsel_box {
        display: none;
    }

    .gnb_area {
        position: static;
        overflow: initial;
    }
}

@media (max-width:768px) {
    .go_top.stick {
        bottom: 5rem;
    }
}

/* =======================================================================================
footer
======================================================================================= */
.footer {
    background-color: #4A4B4B;
    position: relative;
    padding: 0rem 0 3rem;
    /* 2rem 0 3rem */
}

.footer .container {
    position: relative;
}

.footer .container:first-of-type {
    padding-top: 3.8rem;
    display: block !important;
}

.footer .footer_inner {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.footer .footer_inner .sns {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1.2rem;
}

.footer .address_group {
    display: flex;
    margin-bottom: 1.6rem;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #959595;
    font-weight: 400;
}

.footer .address_group .right {
    flex: 1 1 50%;
}

.footer .address_group .left {
    flex: 1 1 50%;
}

.footer .address_group dl {
    display: flex;
    color: #959595;
}

.footer .address_group dl dt {
    display: none;
}

.footer .address_group dl dd span {
    color: #e9e9e9;
}

.footer .address_group dl dd .txt_line {
    color: #959595;
    margin-right: 2rem;
}

.footer .address_group dl dd .txt_line strong {
    font-weight: 400;
    color: #e9e9e9;
}

.footer address span:not(:first-of-type)::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.7em;
    background-color: var(--dark1);
    margin-top: 0.15em;
    margin-left: 8px;
    margin-right: 8px;
}

.footer address span b {
    margin-right: 4px;
}

.footer .copyright {
    display: block;
    margin-top: 0.1rem;
}

/* modal_popup */
.modal_popup_wrap {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 300;
    display: none;
}

.modal_popup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: auto;
    max-height: calc(100% - 2rem);
    background-color: #fff;
    padding: 4rem;
    border-radius: 2rem;
}

.modal_popup_wrap .modal_popup.m_large {
    width: 90rem;
}

.modal_popup_wrap .modal_popup .modal_title {
    border-bottom: 1px solid #DDD;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.modal_popup_wrap .modal_popup .modal_close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    font-size: 2.4rem;
}

.modal_cont {
    flex: 1;
    padding: 2rem 0;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.modal_cont .xi-warning {
    font-size: 5.6rem;
    color: #ACAFB8;
    display: block;
    margin-bottom: 3rem;
}

.modal_cont .ctl::before {
    display: none;
}

.scroll_custom {
    height: auto;
}

.scroll_custom::-webkit-scrollbar {
    width: 2px;
}

.scroll_custom::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.scroll_custom::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.modal_btns {
    text-align: center;
    margin-top: auto;
}

.modal_btns .btn {
    min-width: 12rem;
    padding: 1.2rem 4rem;
}

.modal_wide {
    width: 80% !important;
}

.modal_medium {
    width: 50% !important;
}

#main_popup {
    background-color: transparent;
}

#main_popup .modal_cont {
    padding: 0;
}


/* .modal_popup_wrap iframe { width: 100%; height: calc(100% - 4px); } */
.modal_popup_wrap .join_cont .join_area.cert_div {
    width: 100%;
    font-size: 16px;
}

.modal_popup_wrap .join_cont .join_area.cert_div>* {
    padding: 4rem 2rem !important;
}

.modal_popup_wrap .join_cont .join_area.cert_div h5 {
    font-size: 19px;
    word-break: keep-all;
}

.modal_popup_wrap .join_cont .join_area.cert_div button {
    font-size: 16px;
    padding: 1.4rem 0;
}

.modal_popup_wrap .join_cont .otp_cert .icon::before {
    width: 90% !important;
    height: 90% !important;
    background-size: cover !important;
    background-image: url(../img/contents/cert_3.png) !important;
}

.modal_popup_wrap.modal_map .modal_popup {
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal_popup_wrap h5 {
    font-size: 1em;
    border-left: 8px solid #46464a;
    padding-left: 8px;
}

.modal_popup .table table {
    border-top: 1px solid #e8e8e8;
}

.tstyle.txt_find {
    border-top: none;
    padding: 1rem;
    background-color: #e6f2f7;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(73, 171, 201, 0.5) !important;
}

.modal_pad {
    padding: 1rem;
}

.tstyle.txt_find .dbody>li {
    border-bottom: none;
}

.tstyle.txt_find .dbody>li:last-child {
    border-bottom: none;
}

.tstyle.txt_find::after {
    display: none;
}

.tstyle.txt_find label {
    margin-bottom: .2rem;
}



/* .modal_popup_wrap { position: fixed; left: 0; top: 0; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 30; display: none; }
.modal_popup { position: relative; display: flex; flex-direction: column; width: 50rem; height: auto; max-height: calc(100% - 2rem); background-color: #fff; padding: 4rem; border-radius: 2rem; }
.modal_popup.m_large { width: 90rem; }
.modal_popup .modal_title { border-bottom: 1px solid #DDD; padding-bottom: 2rem; font-size: 2rem; font-weight: 500; color: #333; }
.modal_cont { flex: 1; padding: 2rem 0; overflow: hidden; overflow-y: auto; scrollbar-width: none; }
.modal_cont .xi-warning { font-size: 5.6rem; color: #ACAFB8; display: block; margin-bottom: 3rem; }
.modal_cont .ctl::before { display: none; }
.scroll_custom::-webkit-scrollbar { width: 2px; }
.scroll_custom::-webkit-scrollbar-thumb { background-color: #ccc; }
.scroll_custom::-webkit-scrollbar-track { background-color: #f9f9f9; }
.modal_btns { text-align: center; margin-top: auto; }
.modal_btns .btn { min-width: 12rem; padding: 1.2rem 4rem; }
.modal_close { position: absolute; right: 4rem; top: 4rem; font-size: 2.4rem; }
.modal_popup_wrap.modal_map .modal_popup { width: 100%; height: 100%; padding: 0; }
.modal_popup_wrap h5 { font-size: 1em; border-left: 8px solid #46464a; padding-left: 8px; }
.modal_popup .table table { border-top: 1px solid #e8e8e8; }
.modal_popup .tstyle.txt_find { border-top: none; padding: 1rem; background-color: #e6f2f7; border-radius: 1rem; box-shadow: 0px 0px 10px 0px rgba(73, 171, 201, 0.5) !important; }
.modal_popup .modal_pad { padding: 1rem; }
.modal_popup .tstyle.txt_find .dbody > li { border-bottom: none; }
.modal_popup .tstyle.txt_find .dbody > li:last-child { border-bottom: none; }
.modal_popup .tstyle.txt_find::after { display: none; }
.modal_popup .tstyle.txt_find label { margin-bottom: .2rem; }
.modal_wide { width: 80% !important; }
.modal_medium { width: 50% !important; } */


/* motp 용 클래스 추가_221108 */
.motp {
    background-color: transparent;
    padding: 0 1rem;
}

.motp table {
    font-size: 14px;
}

.motp .modal_btns {
    text-align: center;
    font-size: 16px;
    margin-top: 2em;
}

.motp button {
    font-size: 16px;
}

.motp h5 {
    word-break: keep-all;
}

.motp .modal_btns .btn {
    padding: 1.2rem 4rem;
}

.motp .join_cont {
    padding: 0 1rem;
}

.motp .join_cont .join_area.cert_div>* {
    padding: 6rem 2rem !important;
}

.motp .join_cont .join_area.cert_div .otp_cert .icon::before {
    width: 90%;
    height: 90%;
    background-image: url(../img/contents/cert_3.png);
}

.motp .join_center {
    font-size: 16px;
}

@media (max-width:400px) {
    .motp {
        padding: 0;
    }

    .motp table {
        font-size: 12px;
    }

    .motp .modal_btns, .motp button {
        font-size: 14px;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 1px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    line-height: 16px;
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 16px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    text-indent: -9999px;
    border-radius: 100%;
    background: #000;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
}

@media (max-width:1279.98px) {
    .topmenu {
        gap: 4rem;
        width: calc(100% - 4rem);
    }

    .container {
        padding: 0 1.5rem;
    }

    .header .gnb_util>[class^=btn_] {
        margin-left: 0.8rem;
    }

    .header .sch_layer .btn_sch_close {
        right: 5.9rem;
    }

    .allmenu #gnb {
        display: block;
        width: calc(100% - 2rem);
    }

    .topmenu .depth1>a>span {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .submenu .title_area {
        width: 20%;
        left: 2rem;
        transform: none;
    }

    .submenu .title_area .title {
        font-size: 3rem;
    }

    .submenu .title_area p {
        width: 100%;
    }

    .submenu .title_area p br {
        display: none;
    }

    .footer .address_group {
        padding-right: 22rem;
    }

    .footer .relate_site {
        right: 2rem;
    }
}

@media (max-width:1023.98px) {
    html {
        font-size: 9px;
    }

    .header {
        min-height: 7.2rem;
    }

    .header .member_area {
        display: none;
    }

    .header .btn_allmenu {
        position: absolute;
        right: 2rem;
        top: 2.2rem;
    }

    .header .topmenu {
        display: none;
    }

    .header.fixed .logo_search .logo {
        top: 0;
    }

    .header.fixed .logo_search .gnb_util {
        display: block;
    }

    .logo_search {
        padding: 0;
        border-bottom: 0;
    }

    .logo_search .logo {
        padding: 1.7rem 0;
    }

    .logo_search .logo .link {
        height: 3.2rem;
    }

    .logo_search .logo .link img {
        display: block;
        height: 100%;
        width: auto;
    }

    .logo_search .btn_sch_open {
        display: block;
        font-size: 2.5rem;
        position: absolute;
        right: 6rem;
        top: 2.3rem;
    }

    .logo_search .sch_layer {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 4;
        background: #fff;
        width: 100%;
        text-align: center;
        padding: 3rem 3.5rem;
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12);
        border: 0;
    }

    .logo_search .sch_layer .sch_form {
        flex-wrap: wrap;
        text-align: center;
        position: relative;
    }

    .logo_search .sch_layer .title {
        font-size: 2.8rem;
        color: #000;
        font-weight: 700;
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    .logo_search .sch_layer input[type=text] {
        display: block;
        border-bottom: 0.4rem solid #282E3E;
        font-size: 2rem;
        padding: 1.5rem 5rem 1.5rem 1.5rem;
        width: 100%;
    }

    .logo_search .sch_layer input[type=text]::-moz-placeholder {
        color: #727272;
    }

    .logo_search .sch_layer input[type=text]::placeholder {
        color: #727272;
    }

    .logo_search .sch_layer .btn_sch {
        font-size: 2.5rem;
        color: #242427;
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
    }

    .logo_search .sch_layer .btn_sch_close {
        display: block;
        position: absolute;
        right: 2rem;
        top: 2.2rem;
    }

    .logo_search .sch_layer .btn_sch_close i {
        color: #80848A;
        font-size: 3rem;
        font-weight: 700;
    }

    .logo_search .sch_layer.active {
        opacity: 1;
        visibility: visible;
    }

    .allmenu::before {
        display: none;
    }

    .allmenu .header {
        background-color: #0090D0;
        display: flex;
        align-items: center;
    }

    .allmenu .header .member_area {
        color: #fff;
    }

    .allmenu .header .member_area .go_ps {
        color: #39e8ff;
    }

    .allmenu .header .logo_search .logo, .allmenu .header .btn_sch_open, .allmenu .header .sch_layer {
        display: none;
    }

    .allmenu #gnb {
        width: 100%;
        height: 100%;
        top: 7.2rem;
        left: 0;
        transform: none;
        border-radius: 0;
        padding: 0;
    }

    .allmenu .pop_title {
        display: none;
    }

    .allmenu .pop_close {
        right: 2rem;
        top: -5.4rem;
        color: #fff;
    }

    .allmenu .topmenu {
        height: 100%;
        padding: 0;
        position: relative;
        background-color: #f6f6f6;
        display: block;
    }

    .allmenu .topmenu .depth1 {
        position: static;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }

    .allmenu .topmenu .depth1>a {
        border: 0;
        border-bottom: 1px solid #eaeaea;
    }

    .allmenu .topmenu .depth1>a span {
        background-color: #f6f6f6;
        color: var(--dark1);
        font-weight: 700;
        padding: 2.5rem 0;
        text-align: center;
    }

    .allmenu .topmenu .depth1>a span::before, .allmenu .topmenu .depth1>a span::after {
        display: none;
    }

    .allmenu .topmenu .depth1:hover {
        background-color: inherit;
    }

    .allmenu .topmenu .depth1:hover>a span {
        color: inherit;
    }

    .allmenu .topmenu .depth1.active>a {
        position: relative;
    }

    .allmenu .topmenu .depth1.active>a::after {
        display: inline-block;
        font-family: xeicon;
        content: "\e90b";
        font-size: 1.6rem;
        position: absolute;
        transform: translate(0, -50%);
        right: 1rem;
        top: 50%;
        border: 0;
    }

    .allmenu .topmenu .depth1.active span {
        color: #111;
        font-weight: 700;
        background-color: #fff;
    }

    .allmenu .topmenu .depth1.active .submenu {
        display: block;
        padding: 0 2rem;
        max-height: inherit;
        height: 100%;
    }

    .allmenu .topmenu.active .depth1>a {
        position: relative;
        width: 16.25rem;
    }

    .allmenu .topmenu.active .depth1>a span {
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .allmenu .topmenu .submenu {
        display: none;
        position: absolute;
        top: 0;
        left: 16.25rem;
        width: calc(100% - 16.25rem);
        height: 100%;
        background-color: #fff;
        overflow-y: auto;
    }

    .allmenu .topmenu .depth2>li {
        flex-basis: 100%;
    }

    .allmenu .topmenu .depth2>li.active>a {
        background-color: hsl(205, 100%, 28%);
        color: #fff;
    }

    .allmenu .topmenu .depth2>li.active>.depth3 {
        display: block;
        margin: 1rem;
    }

    .allmenu .topmenu .depth2>li.is-depth3>a::before {
        display: inline-block;
        font-family: xeicon;
        content: "\e942";
        font-size: 1.8rem;
        position: absolute;
        right: 1.4rem;
        top: 1.7rem;
        z-index: 2;
        color: #aaa;
        transition: 0.2s;
    }

    .allmenu .topmenu .depth2>li.is-depth3.active>a::before {
        transform: rotate(180deg);
        color: #fff;
    }

    .allmenu .topmenu .depth2>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        padding: 1.6rem .5rem;
    }

    .allmenu .topmenu .depth3 {
        display: none;
    }

    .allmenu .topmenu .depth3>li~li {
        border-top: 1px solid #e6eaef;
    }

    .allmenu .main {
        margin-top: 7.2rem;
    }

    .main {
        margin-top: 7.2rem;
    }

    .container {
        padding: 0 2rem;
    }

    .footer .foot_banner {
        border-top: 0;
    }

    .footer .foot_banner .slick-slide {
        background-color: #fff;
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer .foot_banner .slick-slide img {
        width: auto;
        height: auto;
        max-height: 24px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .footer .foot_banner .slick-dots li {
        width: 8px;
        height: 8px;
        background-color: #d4dadd;
        border-radius: 200px;
    }

    .footer .foot_banner .slick-dots li.slick-active {
        background-color: hsl(200, 12%, 55%);
    }

    .footer .foot_banner .slick-dots li button {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .footer .foot_banner .slick-dots li button::before {
        display: none;
    }

    .modal_wide,
    .modal_medium {
        width: 96% !important;
    }
}

@media (max-width:767.98px) {

    /* html { font-size: 8px; } */
    .footer {
        padding-bottom: 55px;
    }

    .footer .container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .footer_inner {
        justify-content: flex-start;
    }

    .footer .footer_inner .sns {
        justify-content: flex-start;
        position: absolute;
        left: 15px;
        bottom: -55px;
    }

    .footer .address_group {
        order: 1;
        text-align: left;
        padding-right: 0;
    }

    .footer .address_group dl dd .txt_line {
        display: block;
    }

    .footer .address_group span::before {
        display: none !important;
    }

    .footer .address address {
        word-break: keep-all;
    }

    .modal_popup_wrap .modal_popup {
        width: 96%;
        max-height: 100%;
    }

    .modal_popup_wrap .modal_popup.m_large {
        width: 96%;
    }

}

@media (max-width:580px) {
    .footer .address_group {
        flex-direction: column;
    }

    .footer .address_group .left, .footer .address_group .right {
        flex: 1 1 100%;
    }

    .title .footer .address_group .right {
        margin-top: 2rem;
    }
}

@media (max-width:480px) {
    .modal_popup_wrap .modal_popup {
        width: 90%;
    }
}

/* =======================================================================================
sub layout
======================================================================================= */
#contentWrap {
    display: flex;
    padding-top: 3.2rem;
    padding-bottom: 8rem;
    position: relative;
    justify-content: space-between;
}

#contentWrap .content {
    min-height: 50rem;
}

/* submenu */
/* .subMenu { background: #31568a; }
.subMenu .content { max-width: 1280px; min-height: auto !important; margin: 0 auto; position: relative; }
.subMenu .content .tabs { display: flex; width: 100%; margin-bottom: 0rem; flex-wrap: wrap; }
.subMenu .content .tabs li { flex: 1; display: flex; justify-content: center; align-items: center; padding-left: 0; background-color: #31568a; border-left: 1px solid rgba(255, 255, 255, 0.3); border-right: 1px solid rgba(255, 255, 255, 0.3); border-top: none; border-bottom: none; color: #fff; }
.subMenu .content .tabs li::after { content: ""; display: block; border: 1rem solid transparent; border-top-color: #3d4968; position: absolute; transform: translateX(-50%); left: 50%; bottom: 0; opacity: 0; visibility: hidden; }
.subMenu .content .tabs li a { display: block; width: 100%; text-align: center; padding: 1.7rem 0.4rem; line-height: 1.35; font-size: 1.7rem; }
.subMenu .content .tabs li:hover { background-color: #1d3c68; transition: 0.2s; }
.subMenu .content .tabs li.active { position: relative; background-color: #fff; color: #0353c4; font-weight: 500; border-bottom-width: 1px; }
.subMenu .content .tabs li.active::after { display: none; }
.subMenu .content .tabs li.active a { padding-top: 1.9rem; }
.subMenu .content .tabs li ~ li { margin-left: -1px; } */

.subMenu {
    min-height: auto !important;
}

.subMenu .menu {
    display: flex;
    width: 100%;
    margin-bottom: 5.3rem;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
}

.subMenu .menu li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border: 1px solid #e1e6eb;
    background-color: #fff;
}

.subMenu .menu li~li {
    margin-left: -1px;
}

.subMenu .menu li:first-child {
    border-radius: 1rem 0 0 1rem;
}

.subMenu .menu li:last-child {
    border-radius: 0 1rem 1rem 0;
}

.subMenu .menu li::after {
    content: '';
    display: block;
    border: 1rem solid transparent;
    border-top-color: #0090d0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.subMenu .menu li a {
    display: block;
    width: 100%;
    text-align: center;
    word-break: keep-all;
    padding: 1.6rem 0.4rem;
    line-height: 1.35;
    font-size: 1.7rem;
}

.subMenu .menu li:hover {
    background-color: #edeef3;
    transition: .2s
}

.subMenu .menu li.active {
    position: relative;
    background: linear-gradient(145deg, rgba(86, 174, 214, 1) 15%, rgba(0, 144, 208, 1) 100%);
    border-color: linear-gradient(145deg, rgba(86, 174, 214, 1) 15%, rgba(0, 144, 208, 1) 100%);
    color: #fff;
    font-weight: 700;
    border-bottom-width: 1px;
}

.subMenu .menu li.active::after {
    bottom: -1.8rem;
    opacity: 0;
    visibility: visible;
    max-height: inherit;
    transition-delay: .1s;
}

/* snb */
#snb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21rem;
    flex: 0 0 21rem;
    max-width: 21rem;
    margin-top: 2.4rem;
    margin-right: 3.8rem;
}

#snb .title {
    font-size: 2.4rem;
    color: #3A3E40;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.3rem;
}

#snb a::after {
    display: inline-block;
    font-family: xeicon;
    content: "";
    font-size: 1em;
    margin-left: .3rem;
    font-weight: 300;
}

#snb .nav .depth2 {
    border-bottom: 1px solid #E9EBF2;
}

#snb .nav .depth2>li {
    position: relative;
}

#snb .nav .depth2>li {
    border-top: 1px solid #E9EBF2;
}

#snb .nav .depth2>li>a {
    display: block;
    padding: 2rem 1rem 2rem 1.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

#snb .nav .depth2>li>a::after {
    display: inline-block;
    font-family: xeicon;
    content: "";
    font-size: 1.8rem;
    position: absolute;
    right: 1rem;
    top: 1.9rem;
    z-index: 2;
    color: #aaa;
    -webkit-transition: .2s;
    transition: .2s;
}

#snb .nav .depth2>li:hover>a::after {
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
}

#snb .nav .depth2>li.active>a::after {
    color: var(--primary);
}

#snb .nav .depth2>li.active>a {
    color: var(--primary);
    font-weight: 600;
}

#snb .nav .depth2>li.active .depth3 {
    display: block;
}

#snb .nav .depth2 .is-depth3>a::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#snb .nav .depth2 .is-depth3:hover a::after {
    -webkit-transform: translateX(0) rotate(90deg);
    transform: translateX(0) rotate(90deg);
}

#snb .nav .depth2 .is-depth3.active a::after {
    -webkit-transform: translateX(0) rotate(-90deg);
    transform: translateX(0) rotate(-90deg);
}

/* location */
.location_bar {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.location_bar .location {
    font-size: 1.5rem;
}

.location_bar .location li {
    display: inline-block;
}

.location_bar .location li~li::before {
    display: inline-block;
    font-family: xeicon;
    content: "";
    margin: 0 .5rem 0 .35rem;
}

.location_bar .location .xi-home-o {
    font-size: 1.5rem;
    color: #666;
}

.location_bar .location .current {
    color: #3A3E40;
}

/* content */
/* .snb + .content { max-width: 100rem; } */
.content {
    width: 100%;
    position: relative;
}

.content .h1_area {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.6rem;
}

.content .title_h1 {
    font-size: 2.8rem;
    color: #4e5152;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

.subMenu_title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.subMenu_title strong {
    color: #0090D0;
}

h4.seg_title {
    padding-bottom: 2rem;
    font-size: 2rem;
}

.box {
    padding: 3rem;
    display: flex;
    border-radius: 1rem;
    border: 1px solid #dddddd;
}

.content .tabs {
    display: flex;
    width: 100%;
    margin-bottom: 5.3rem;
    flex-wrap: wrap;
}

.content .tabs li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-right: .8rem;
    margin-bottom: .8rem;
}

.content .tabs li:first-child {
    border-radius: 1rem 0 0 1rem;
}

.content .tabs li:last-child {
    border-radius: 0 1rem 1rem 0;
}

.content .tabs li::after {
    content: '';
    display: block;
    width: .7rem;
    height: .7rem;
    background-color: #0090D0;
    border-radius: .5rem;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.content .tabs li a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    width: 100%;
    min-width: 15rem;
    text-align: center;
    padding: 1.3rem 1.8rem;
    border-radius: 2.5rem;
    line-height: 1.35;
    font-size: 1.7rem;
    border: 1px solid #e1e6eb;
}

.content .tabs li a:hover {
    border-color: #0090d0;
    color: #0090D0;
    transition: .2s
}

.content .tabs li.active {
    position: relative;
    color: #fff;
    font-weight: 700;
}

.content .tabs li.active a {
    border-color: #0090d0;
    color: #0090D0;
    border-width: 2px;
}

.content .tabs li.active::after {
    bottom: -.3rem;
    opacity: 1;
    visibility: visible;
    max-height: inherit;
    transition-delay: .1s;
}

.content .tabs2 {
    display: flex;
    width: 100%;
    margin-bottom: 5.3rem;
    flex-wrap: wrap;
}

.content .tabs2 li {
    /*flex: 1;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
    border-bottom: 2px solid #e1e6eb;
}

.content .tabs2 li a {
    display: block;
    text-align: center;
    padding: 1.3rem 0rem;
    line-height: 1.35;
    font-size: 1.7rem;
    color: #919191;
}

.content .tabs2 li:hover {
    color: #0090d0;
    border-bottom: 2px solid #0090d0;
    transition: .2s
}

.content .tabs2 li.active {
    position: relative;
    color: #0090d0;
    border-bottom: 2px solid #0090d0;
}

.content .tabs2 li.active a {
    color: #222;
    font-weight: 700;
}

.content .tabs2 li:hover a {
    color: #222;
}

/* .content .tabs li.active a { padding-top: 1.9rem; } */
.content .tabs li~li {
    margin-left: -1px;
}

/* table */
.table {
    margin: 2rem 0;
}

.table table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border-top: 2px solid #444;
}

.table table.layout_auto {
    table-layout: auto;
}

.table table td, .table table th {
    background: #fff;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-top: 0;
    padding: 1.5rem .5rem;
    word-break: break-word;
    word-wrap: break-word;
}

.table table td.narrow, .table table th.narrow {
    padding-left: .2rem;
    padding-right: .2rem;
}

.table table td:first-child, .table table th:first-child {
    border-left: 0;
}

.table table td:last-child, .table table th:last-child {
    border-right: 0;
}

.table table thead th {
    background: #f5f7fd;
    color: #333;
    padding: 1.5rem 0;
    border: 1px solid #e8e8e8;
    border-bottom-color: #d3d8dd;
    border-top-color: #777;
}

.table table tbody th, .table table tfoot th {
    background: #fafbff;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #444;
    letter-spacing: -1px;
}

.table table ul {
    margin: .5rem 0;
}

.table table ul>li {
    font-size: 1em;
}

.table .unit {
    text-align: right;
    font-size: .933em;
    margin: 0 0 .5rem;
}

.table.txt_small {
    margin: 1rem 0;
    font-size: 1.4rem !important;
}

.table.txt_small td, .table.txt_small th {
    padding: .8rem .5rem;
}

@media (max-width:1280px) {
    .content .tabs li a {
        min-width: auto;
    }

    .content .tabs.two_list li a {
        min-width: 15rem;
    }
}

@media (max-width:1023.98px) {
    .content .h1_area {
        flex-wrap: wrap;
    }

    #contentWrap {
        padding-top: 0;
        padding-bottom: 3rem;
    }

    #snb {
        display: none;
    }

    .container {
        padding: 0 1.5rem;
    }

    .content {
        max-width: inherit !important;
    }

    .location_bar {
        background-color: #D8EEF7;
        order: 0;
        padding: 0.65rem 1.2rem;
        margin: -1px -1.5rem 0;
        width: calc(100% + 3rem);
    }

    .content .title_h1 {
        order: 1;
        width: 100%;
        margin-top: 3rem;
    }

    .content .tabs {
        margin-bottom: 3.3rem;
    }
}

@media (max-width:767.98px) {
    .content .title_h1 {
        display: none;
    }

    #contentWrap {
        padding-bottom: 2rem;
    }

    .subMenu {
        display: none;
    }

    .content .title_h1 {
        margin-top: 2rem;
    }

    .content .h1_area {
        margin-bottom: 2rem;
    }

    .subMenu_title {
        font-size: 2.8rem;
    }

    .subMenu .menu {
        margin-bottom: 3.3rem;
    }

    .content .tabs li {
        flex-basis: calc(20% - .8rem);
        max-width: 20%;
    }

    .content .tabs li:nth-child(5n) {
        margin-right: 0;
    }

    .content .tabs li a {
        padding: 1.3rem .8rem;
    }

    .content .tabs.four_list li {
        flex-basis: calc(25% - .8rem);
        max-width: 25%;
    }

    .content .tabs.four_list li a {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    .footer .footer_inner .footer_logo img {
        width: 150px;
    }
}

@media (max-width:620px) {
    .content .tabs li {
        flex-basis: calc(25% - .8rem);
        max-width: 25%;
    }

    .content .tabs li:nth-child(4n) {
        margin-right: 0;
    }

    .content .tabs li:nth-child(5n) {
        margin-right: .8rem;
    }

}

@media (max-width:480px) {
    .content .title_h1 {
        font-size: 2.2rem;
    }

    /* .content .h1_area { margin-bottom: 1.5rem; } */
    .content .tabs {
        box-shadow: none;
    }

    .content .tabs li {
        flex: 0 0 calc(33.333333% - .8rem);
        max-width: 33.333333%;
    }

    .content .tabs li a {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .content .tabs li:nth-child(4n) {
        margin-right: .8rem;
    }

    .content .tabs li:nth-child(3n) {
        margin-right: 0;
    }

    .content .tabs li:first-child, .content .tabs li, .content .tabs li:last-child {
        border-radius: 1rem;
    }

    .content .tabs.four_list li {
        flex-basis: calc(50% - .8rem);
        max-width: 50%;
    }

    .content .tabs.four_list li:nth-child(3n) {
        margin-right: .8rem;
    }

    .content .tabs.four_list li:nth-child(4n) {
        margin-right: 0rem;
    }
}