@import "mixin";

/* =======================================================================================
common
======================================================================================= */
/*
:root{    
    //1. scss darken에 적용이 되지 않음.
    //2. 1번이 되지 않아서 --color1을 변수에 넣어보려고 했으나 $color 변수를 받지 못함.
    //3. 결정적으로 ie11에서 사용하려면 css-vars-ponyfill을 사용하여야함.
    //4. 현 시점(2021.06.10)에서 ie10까지 맞춰야 하기 때문에 적용불가
    --color1 : #244883; //gnb
    --color2 : #282E3E; //top, footer
    --color3 : #3d4968; //snb, sns, join_submit_btn
    --color4 : #3063b4; //checkbox, note
    --gray : #f7f8fa; //join
    --gray2 : #4D4D4D;
    --headerHeight: 20rem;
    --fixedHeadH: 9.8rem;
    --mobileHeadH : 13.1rem;
}
*/
:root{
  /*   --brandcolor: hsl(331, 100%, 45%); E4006E
    --bg: hsl(331, 100%, 45%, .05); */

    --blue: hsl(205, 100%, 40%); /* #0078CC */
    --red: hsl(4, 100%, 40%); /* #CC0E00 */
    --gray9: hsl(240, 7%, 97%); /* #F7F7F8 */
    --dark3: hsl(200, 6%, 81%); /* #CCD0D2 */
    --dark2: hsl(206, 7%, 60%); /* #91999F */
    --dark1: hsl(203, 20%, 25%); /* #33434D */
    --dark0: hsl(204, 100%, 6%); /* #001421 */
    --yellow: hsl(49, 100%, 50%); /* #FDCD00 */
    --purple: hsl(290, 49%, 37%); /* #7E318E */
    --pink: hsl(333, 83%, 49%); /* #E61673 */
    
    --darkblue: hsl(205, 100%, 28%); /* #00538D */


    --primary : hsla(79, 90%, 37%, 1); /* #7DB209 */
    --green1: hsla(79, 90%, 37%, 1); /* #7DB209 */
    --green2: hsla(150, 90%, 37%, 1); /* #09B25E */

    --dark1 : hsl(79, 89%, 7%); /* #172102*/
    --dark3 : hsla(80, 5%, 65%, 1);
    --dark4 : hsla(82, 14%, 85%, 1);
    --dark5 : hsla(84, 24%, 96%, 1);
    --dark6 : hsla(72, 45%, 98%, 1);

}

:lang(en){font-family:Roboto, sans-serif;}
.container{max-width:$container;margin:0 auto;position: relative;}
/*
.pc{display:block}
.mobile{display:none}
*/
.header .topmenu a[target="_blank"]::after{ @include blank;}

/* =======================================================================================
header
======================================================================================= */
// min-height: $headerHeight
.header{position:absolute; left:0; top:0; z-index:20; width:100%; min-height:16rem;border-bottom:1px solid rgba(149,160,183,.25); background-color: #fff; color:var(--dark0); /*animation:dropUp .5s cubic-bezier(.215,.61,.355,1); */
    .container{position:static;display: flex;justify-content: space-between;align-items: center;}
    &.active{box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);}  
    &.fixed{position:fixed;min-height:$fixedHeadH;animation:dropDown .3s cubic-bezier(.215,.61,.355,1);  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
        .logo_search{border-bottom:0;
            .gnb_util{display: none;}
            .logo{position: absolute;top: -1.2rem;}
        } 
        .topmenu {justify-content: flex-end; width: calc(100% - 200px - 40px); margin-left: auto;
            .depth1 > a span{padding-left:1rem;padding-right: 1rem;}
            .submenu{top:$fixedHeadH;}
        }
    }    
}

.logo_search{border-bottom: 1px solid #E8E8E8;    
    .logo{padding: 2.5rem 0;}        
    .link{display: block;width: 20rem;height: 4.2rem; 
        // background: url(../img/common/logo2.svg) 0 0/contain no-repeat; 
        background-position: center;
    }
    .link.st2{ background: url(../img/common/logo1.svg) 0 0/contain no-repeat; background-position: center; }
    .gnb_util{display: flex;align-items:center;
        .welcome{padding:.8rem; display: block; font-size: 1.5rem;
            .badge{display: inline-block;@include circle(1.7rem,#FF4553);color: #fff;font-size: 1.2rem;line-height: 1.7rem;font-weight: 700;margin-left: 0.5rem;}
        }
        a{padding:.8rem .4rem; display: block;}
        .logout{display: flex;justify-content: space-between;}
        .nav li{display: inline-block; font-size:1.5rem;
            ~ li{@include vbar(1px, 1rem, #BCBCBC, .4rem);}
        }
        .member_area{margin-right: 3rem;
            .go_ps {color: #1857df; font-weight:500;}
        }
    }

    
    .btn_sch_open{display: none;}
    .sch_layer{display: block;border: 2px solid #CCC;
        &::placeholder{color: #aaa;}
        .sch_form{display: flex;align-items:center;}
        .title, .btn_sch_close{display: none;}
        input{border: 0;}
        .btn_sch{padding: .9rem 1.5rem;}
    }
}
// search
/*
.sch_layer{@include inactive(.3s); @include pos(lt, 0, 10.1rem); z-index:4;background:#f9f9fb;width:100%; text-align:center;padding:3rem 0;box-shadow:0 2rem 2rem rgba(0,0,0,.12); 
    .container{position: relative;}
    .title{font-size:3rem;color:#46464a;margin-right:4rem;display: inline-block;vertical-align: middle;}
    input[type=text]{border:2px solid #46464a;color:#727272;font-size:2rem;width:50rem;padding:1.5rem 5rem 1.5rem 1.5rem;box-shadow:1rem 1rem 1rem rgba(0,0,0,.1)}
    .btn_sch{font-size:2.5rem;color:#242427;margin-left:-5rem;vertical-align:middle}
    .btn_sch_close{ @include pos(rt, 5.9rem, 1rem); 
        i{color:$color1;font-size: 3rem;font-weight:700}
    }    
}*/
.gnb_area{
    // .nav{
    //     &::before{content: '';display: block;height: 1px;width: 100%;border-bottom: 1px solid rgba(149, 160, 183, 0.25);position: absolute;left: 0;top: $headerHeight;}
    // }    
    .btn_allmenu{order:1;
        i{font-size: 2.8rem;font-weight: 700;}
    }
    .pop_title,
    .pop_close{display: none;}
}    

@keyframes dropUp{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}
@keyframes dropDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}
// topmenu
.topmenu{ display:flex;justify-content:center;width:100%;
    .depth1{ flex: 1 1 auto; 
        >a{display:block;     
            span{display:block;white-space:nowrap;text-align:center;font-size:1.8rem;font-weight:500;color:inherit;padding:2.2rem 0;position:relative;letter-spacing:-.05em;overflow:hidden; 
                &::before{content:""; @include pos(lb,50%,0,-50%,0); height:.4rem;width:0;  background-color:var(--primary);  transition:.2s; }
                &::after{content:""; @include pos(lb,50%,-.7rem,-50%,0); border: solid transparent; border-width:.7rem .5rem;border-bottom-color:var(--primary);transition:.2s; }        
            }
        }
        ~ .depth1{
            > a{@include vbar(1px, 1rem, #ccc); margin-left: 0;
                &::before{transform: translate(-50%, -50%) rotate(45deg);}
            }
        }
        &.active{
            >a{
                span{
                    &::before{width:100%}
                    &::after{bottom:.4rem;transition-delay:.2s;}
                }
            }
            .submenu{@include active(100rem);height:30rem; transition-delay:.2s;}
        }
        // &:last-child{display: none;}
    }    
    .submenu{
        transition:.35s, max-height 1.35s cubic-bezier(.13,.67,.59,.98); 
        opacity:0;
        visibility: hidden;  
        overflow:hidden;
        max-height:0; 
        position: absolute;
        left: 0;
        top: calc(16rem + 1px);
        //@include pos(lt,0,$headerHeight);
        z-index:20;
        width:100%;
        background-color:#fff;
        text-align:left; 
        box-shadow:0 2rem 2rem rgba(0,0,0,.12);
        &::before{
            content:"";
            display: block;
            width: 100rem;
            height:100%;
            background-color: #FAFAFA; @include pos(lt,50%,0,-50%);
            margin-left:-79rem;

            /* 위치잡기 애매해서 이미지 넣는 곳 옮김_230406*/
            background-image: url("../img/common/gnb_title_bg.png");
            background-repeat: no-repeat;
            background-position: right bottom;
        }  
    } 
     
    .title_area{width:$container;@include pos(lt,50%,auto,-50%);margin-top:4rem;
        .title{font-size:2.6rem;color:var(--dark1);margin-bottom:4rem;
            &::after{content:"";display: block;width: 3.7rem;height: 0.3rem;background-color: var(--green1, #244883);margin-top: 1.5rem;}
        }
        p{color:var(--dark2);position:relative;width:20rem;word-break:keep-all; }  
        // &::after{content:"";display: block;width: 22.9rem;height: 19.2rem;background: url("../img/common/gnb_title_bg.png") 0 0 no-repeat;@include pos(lb,12rem,-14rem)}      
    }
    .depth2{max-width:$container;margin:4rem auto;position:relative;overflow-y:auto;padding-left:36rem;display:flex;flex-wrap:wrap;        
        >li{flex:0 0 23.2%;margin-left:1.8%;position:relative;margin-bottom:2rem;            
            >a{display:block;border:3px solid #F7F8FA;border-radius: 0.8rem;padding:1.5rem;font-size:1.7rem;color:inherit;font-weight: 500;
                &:hover{color:$color1; border-color:$color1; transition:.25s}                
            }
            &.is-depth3{
                >a{position: relative;
                    &::after{@include xeicon("\e942", 1.8rem);color: #333;@include pos(rt, 2rem, 50%, 0, -50%)}
                }
            }
        }
    }
    .depth3{margin:1.5rem 0 2.5rem 1rem;
        a:hover{color:$color1!important;font-weight:700!important;text-decoration: underline;}
        >li>a{color:#727272;display:block;padding:.7rem 0 .7rem 1rem;position:relative;
            &::before{content:'';display:block;width:.3rem;height:.3rem;@include pos(lt, 0, 1.5rem);border-radius:50%;background-color:#b3bec1}
        }
    }
    .depth4{display:none} 

    //gnb 메뉴가 다 펼쳐지는 경우
    &.fullmenu{       
        .depth1 > a::before{width:0;}
        .depth1:hover > a::before,
        .depth1.on > a::before{width:100%}
        .depth1.active .submenu{transition:margin .3s, opacity .5s,max-height 1.35s cubic-bezier(.13,.67,.59,.98);transition-delay: .2s;margin-top: 4rem;margin-bottom:4rem;}
        .submenu{transition:.35s; width: auto; position:static; left: auto; background-color: transparent; border-top:0;box-shadow:none;           
            .title_area{display: none;padding: 0;}
            .depth2{padding-left: 0;max-width: inherit;/*flex-direction: column;ie에서 안됨*/display:block;margin-top:0;margin-bottom:0;
                >li{margin-bottom: 0;
                    >a{border: 0;}
                }
            }
            .depth3{display: none;}            
        }
    }
}
.header.active{
    .topmenu .depth1 a.active::before{opacity:.3}
    .topmenu .depth1.active a.active::before{opacity:1}
}

//allmenu
.allmenu {display:block;position:fixed;left:0;top:0;width:100%;height:100%;z-index:8;
    .pop_title{display: inline-block; color:var(--dark1);font-size:3rem;margin-top:1rem;margin-bottom:2.5rem;padding-left: 2rem;position: relative;
        &::after{content:"";display: inline-block;width: 2px;height: 1.4rem;background-color: #C4C4C4;margin-left: 2rem;}
        &::before{content:"Site Map";color:var(--dark3, #333) /*hsl(331, 100%, 25%)*/;font-size: 2rem;font-family: $eng;font-weight: 400;padding-left: 2rem;@include pos(lt, 100%, 1rem);white-space:nowrap;}
    }
    .pop_close{display: block; @include pos(rt, 3rem, 3rem); font-size:2.5rem;color:#242427}
    .header{position: static;
        .member_area{display: block;}
        .gnb_area{
            .nav{display:block;width:$container;height:90%;background-color:#fff; @include pos(lt, 50%, 50%, -50%, -50%);z-index:10;border-radius:0;padding:3rem;
                &::before{display: none;}
            }
        }
    }
    .topmenu{display:flex; flex-wrap:wrap; justify-content:left; width:100%;height:90%;padding-right:2%;overflow:auto;
        @include scrollbar();
        .submenu{@include active(inherit); position:static;box-shadow:none;
            &::before{display: none;}
            .title_area{
                .title{}
            }
        }
        .depth1{position:relative;width: 23%;     max-width: 23%;    margin-left:2%;margin-bottom: 2rem;
            &:hover{
                >a{background-color: $color1;border-color: $color1;
                    span{color: #fff;}
                }
            }
            >a{ /*@include pos(lt, 0, 2rem);*/ font-size:2.8rem;padding-left:0;margin-left: 0;border: 2px solid var(--primary);border-radius: 1rem;transition:.2s;
                span{padding-top:1.7rem;padding-bottom:1.7rem;color:var(--primary, #333);font-weight: 700;}
            }
            &:last-child{display: block;}
        }  
        .depth2{display: block;padding-left: 0;margin:1rem 0 0 0;}      
        .title_area,
        .depth1>a::before,
        .depth2>li>a::after{display:none}
        .depth2>li{margin-bottom: 0;margin-left: 0;
            >a{border:0;font-size: 1.8rem;color: var(--dark1); /*border-bottom: 1px solid #ddd;*/
                &:hover{background-color: var(--gray9, #EDF7FC );} /* */
            }
        }
        .depth3{margin:0 0 0 1.5rem;
            >li>a{color:#46464a;}
        }
        /*
        .depth4{display:block;
            >li>a{color:#727272;display:block;font-size:1.4rem;padding:.5rem 0 .5rem 1rem;position:relative}            
            >li>a::before{content:'';display:block;width:.3rem;height:.3rem; @include pos(lt, 0, 1.2rem); border-radius:50%;background-color:#b3bec1}
        }
        */
    }
    &::before{content:'';display:block;width:100%;height:100%;position:absolute;z-index:9;background-color:rgba(0,0,0,.7);}
 
    .btn_allmenu{display: none;}
    .main{margin-top: 0;}
} 




.main{position:relative;width: 100%;margin-top: calc(16rem);} //   margin-top: $headerHeight;
/*.fixed + .main{margin-top: $fixedHeadH;}*/

/* =======================================================================================
go_top
======================================================================================= */
.go_top{display:block;width:6rem;height:6rem;border-radius:50%;background-color:#889;color:#fff; position:fixed;text-align:center;right: 2.5rem;bottom:2.5rem;z-index:8;opacity:0;visibility:hidden;transition:.3s;
    i{font-size:2rem}
    span{display:block;font-size:1.5rem;line-height:1}
    &:hover{background-color: #50505A;}
    &.fixed{opacity:1;visibility:visible;}
    &.stick{ @include pos(lb, auto, 0, 0, 50%); bottom: 4rem; }  
}
@media( max-width: 1024px ){
    .go_top{
        &.stick{ bottom: 1rem; }
    }
}
@media( max-width: 768px ){
    .go_top{
        &.stick{ bottom: 2rem; }
    }
}

/* =======================================================================================
footer
======================================================================================= */
.footer{background-color: var(--dark0, #333); position:relative; padding:0rem 0 6rem;/* 2rem 0 3rem */ letter-spacing:0px; 
    .container{ 
        position: relative;  display: flex;    color: #939393; gap: 40px;

        &:first-of-type{  padding-top: 2rem; display: block !important; }
        > div{ display: flex; flex-direction: column; flex:1 }
        .call_advice{
            flex: 0 1 30%;
            padding: 1.5em;
            background-color: hsla(84, 24%, 96%, .05);
            
            [href*="tel"]{ display: block; font-size: 32px; font-weight: bolder; padding-bottom: 4px;     color: var(--dark4); }

        }
        
    }
    .foot_banner{ padding-bottom: 2rem;margin-bottom: 2rem; background-color: #fff; border-top: 1px solid hsl(200, 12%, 85%); overflow: hidden;
        .slick-slide{ background-color: #fff;
            img{ width: auto; height: 40px;  }
        }
        .slick-dots{ width: calc(100% - 3rem) }
        .slick-dots li{ width: 8px; height: 8px; background-color: #d4dadd; border-radius: 2em;
            &.slick-active{ background-color: hsl(200, 12%, 55%); }
            button{ width: 100%; height: 100%; padding:0; 
                &::before{ display: none; }
            }
        }
    }
    .footer_nav_bar{display: flex;flex-wrap:wrap;justify-content: space-between;align-items:center;margin-bottom: 2rem;}
    .footer_nav{
        >li{display:inline-block;position:relative;padding-left:1.5rem;margin-left:1.5rem;font-size:1.5rem;color:#939393;
            &::before{content:"";display:block;width:1px;height:1.3rem;background-color:#d8d8d8; @include pos(lt, 0, 50%, 0, -50%); }
            &:first-of-type{padding-left:0;margin-left:0}
            &:first-of-type::before{display:none}
            strong{color:#fff}
            a:hover strong,
            a:hover{color:#eee}
        }
    }       
    .footer_logo{
        .link{display: flex;align-items:center;
            .logo1{display: block; width: 14.6rem;height: 3.5rem;background: url(../_img/common/foot_logo1.png) 0 0/cover no-repeat;}
            .logo2{display: block; width: 26rem;height: 2.9rem;background: url(../_img/common/foot_logo2.png) 0 0/cover no-repeat;margin: 0 0 1rem 1.5rem;}
            .logo3{font-size: 1.6rem;color: #939393;@include vbar(1px, 1.2rem, #434650);margin-top:.3rem;}
        }

    } 
    .address_group{font-size:1.5rem;line-height:1.5;color:#939393;     display: flex; flex-direction: column;     flex: 1;}
    address span{
            display:  block;
        //     &:not(:first-of-type)::before{
        //     content:'';
        //     display: inline-block;
        //     width: 1px; height: calc(1em * .7);
        //     background-color: var(--dark1);
        //     margin-top: .15em;  margin-left: 8px; margin-right: 8px;
        // }
        b{ margin-right: 4px; }
    }
    .copyright{display:block;     margin-top: auto;}
    .relate_site{ @include pos(rt, 0, -1rem); width:20.7rem;z-index:7;
        .title{display:block;padding:.9rem 1.3rem;color:#8B8E9E;border:1px solid rgba(255,255,255,.1);font-size:1.5rem;transition:background-color .2s;
            &:hover{background-color:#181e2d;border-color:rgba(255,255,255,.5);
                .xi-caret-up{color:rgba(255,255,255,.6)}
            }
        }
        .xi-caret-up{font-size:1rem;color:rgba(255,255,255,.2); @include pos(rt, 2.4rem, 50%, 0, -50%);transition:.3s;}
        .list{opacity:0;visibility:hidden;overflow:hidden; @include pos(lb, auto, 3.7rem); max-height:0;background-color:$color2;transition:.3s; width:100%;
            >li{padding:0;border:0;text-align:left;
                a{display:block;padding:.3rem 1rem;font-size:1.4rem;color: #8B8E9E;}
                a:hover{background-color:#181e2d;color:#fff;}
            }
        }
        &.active {
            .xi-caret-up{transform:translateY(-50%) rotate(180deg)}
            .list{opacity:1;visibility:visible;border:1px solid #e8e8e8;padding:1rem 0;max-height:30rem;overflow:auto;@include scrollbar(#f5f5f5, #d5d7dc);}
        }
    }
}

/* modal_popup */
.modal_popup_wrap{  position: fixed;left: 0;top: 0;width:100%;height:100%;background-color: rgba(0,0,0,.3);z-index: 30;display:none;
    .modal_popup{position: absolute; display: flex; flex-direction: column; left: 50%;top:50%;transform:translate(-50%, -50%);width: 50rem; height: auto; max-height: calc(100% - 2rem); background-color: #fff;padding: 4rem;
        &.m_large {width:90rem;}
        .modal{
            &_title{border-bottom: 1px solid #DDD;padding-bottom: 2rem;font-size: 2rem;font-weight: 500;color: #333; }
            &_cont{  flex:1; margin-top: 2rem; margin-bottom: 2rem;  overflow: auto;
                scrollbar-width: none; 
                .xi-warning{font-size: 5.6rem;color: #ACAFB8;display: block;margin-bottom: 3rem;}
                .ctl::before{ display: none;}
            }
            &_cont::-webkit-scrollbar{ width: 2px }
            &_cont::-webkit-scrollbar-thumb{ background-color: #ccc}
            &_cont::-webkit-scrollbar-track{ background-color: #f9f9f9;}
            &_btns{text-align: center;  margin-top:auto;
                .btn{min-width:12rem;padding: 1.2rem 4rem;}
            }
            &_close{position: absolute;right: 4rem;top: 4rem;font-size: 2.4rem;}            
        }
    }
    iframe{ width: 100%; height: calc(100% - 4px);}
    .join_cont .join_area.cert_div { width: 100%; font-size: 16px;  }
    .join_cont .join_area.cert_div > *{ padding: 4rem 2rem !important; }
    .join_cont .join_area.cert_div h5{ font-size: 19px; word-break: keep-all;  }
    .join_cont .join_area.cert_div button{ font-size: 16px; padding: 1.4rem 0;}
    .join_cont .otp_cert .icon::before{ width: 90% !important; height: 90% !important; background-size: cover !important; background-image: url(../img/contents/cert_3.png) !important;}
    &.modal_map {
        .modal_popup{width:100%;height:100%;padding:0;}
    }

    h5{ font-size: 1em; border-left: 8px solid #46464a;
        padding-left: 8px;}
}


/* motp 용 클래스 추가_221108 */
.motp{ background-color: transparent; padding: 0 1rem }
.motp table{ font-size: 14px;  }
.motp .modal_btns{ text-align: center; font-size: 16px; margin-top: 2em }
.motp  button{ font-size: 16px; }
.motp  h5{ word-break: keep-all;}
.motp .modal_btns .btn{ padding: 1.2rem 4rem; }
.motp .join_cont{ padding: 0 1rem }
.motp .join_cont .join_area.cert_div > * {
    padding: 6rem 2rem !important;
}
.motp .join_cont .join_area.cert_div .otp_cert .icon::before {
    width: 90%;
height: 90%;
    background-image: url(../img/contents/cert_3.png);
}
.motp .join_center{ font-size: 16px; }
@media(max-width: 400px){
    .motp{ padding: 0 }
    .motp table{ font-size: 12px;  }
    .motp .modal_btns, .motp  button{ font-size: 14px; }
}


.slick-dotted.slick-slider {margin-bottom: 30px;}
.slick-dots {position: absolute; bottom: -25px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center;}
.slick-dots li {position: relative; display: inline-block; width: 20px; height: 20px; margin: 0 1px; padding: 0; cursor: pointer;}
.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus {outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {opacity: 1;}
.slick-dots li button:before {line-height: 16px; position: absolute; top: 6px; left: 0; width: 16px; height: 16px; content: '•'; text-align: center; opacity: .25; color: black; text-indent:-9999px; border-radius:100%; background:#000; }
.slick-dots li.slick-active button:before {opacity: .75; color: black;}

@media (max-width:$web){
    .container{padding:0 1.5rem}
    .header {       
        .gnb_util>[class^=btn_]{margin-left:.8rem}
        .sch_layer .btn_sch_close{right:5.9rem}
    }
    .allmenu #gnb{display:block;width:calc(100% - 2rem)}
    .allmenu .topmenu .depth1 { max-width: 100%;  }
    .topmenu .depth1>a>span{padding-left:3rem;padding-right:3rem}
    .submenu .title_area{width:20%;left:2rem;transform:none;
        .title{font-size:3rem}
        p{width:100%;
            br{display:none}
        }
    }
    .footer {
        .address_group{padding-right:22rem}
        .relate_site{right:2rem}
    }
}

$closeTop : 2.2rem;

@media (max-width:$pad){   
    html{font-size:9px}    
    .header{min-height:$mobileHeadH; 
        .member_area{display: none;}                 
        .btn_allmenu{ @include pos(rt, 2rem, $closeTop);}
        .topmenu{display:none}     
        &.fixed{
            .logo_search{
                .logo{top:0;}
                .gnb_util{display: block;}
            }
        }      
    } 
    .logo_search {border-bottom: 0;
        .logo{padding: 1.7rem 0;
            .link{height:3.6rem;
                img{ display: block; height: 100%; width: auto;}
            }
        }  
        .btn_sch_open{ display: block; font-size: 2.5rem; @include pos(rt, 6rem, 2rem);} 
        .sch_layer{@include inactive(.3s); @include pos(lt, 0, 0); z-index:4;background:#fff;width:100%; text-align:center;padding:3rem 3.5rem;box-shadow:0 2rem 2rem rgba(0,0,0,.12); border: 0;
            .sch_form{flex-wrap:wrap;text-align: center;position: relative;}
            .title{font-size:2.8rem;color:#000;font-weight: 700;display: block;width: 100%;margin-bottom: 2rem;}
            input[type=text]{display: block;border-bottom:.4rem solid #282E3E;font-size:2rem;padding:1.5rem 5rem 1.5rem 1.5rem;width: 100%;
                &::placeholder{color:#727272;}
            }
            .btn_sch{font-size:2.5rem;color:#242427;@include pos(rb, 1rem, .5rem);}
            .btn_sch_close{ display: block;@include pos(rt, 2rem, $closeTop); 
                i{color:$color1;font-size: 3rem;font-weight:700}
            }
            &.active{@include active()}
        }
    }

    .allmenu {
        &::before{display: none;}
        .header{background-color: #282E3E;display: flex;align-items:center;
            .member_area{color: #fff; 
                .go_ps {color:#39e8ff;}
            }
            .logo_search .logo,
            .btn_sch_open,
            .sch_layer{display: none;}     
        }
        #gnb{width:100%;height:100%;top:$mobileHeadH;left:0;transform:none;border-radius:0;padding:0}
        .pop_title{display:none}       
        .pop_close{right:2rem;top:-5.4rem;color:#fff}
        $depth1W : 16.25rem;
        .topmenu{height:100%;padding-right:0;position:relative;background-color:#282e3e;   display: block;
            .depth1{position: static;width: 100%;margin-left: 0;margin-bottom: 0;
                >a{border:0; border-radius: 0;  border-bottom:1px solid rgba(255,255,255,.2);
                    
                    span{background-color: transparent; color:#fff;font-weight:700;padding:2.5rem 0;text-align: center;
                        &::before,
                        &::after{display: none;}
                    }
                }
                &:hover{background-color: inherit;
                    >a span{color:inherit}
                }
                &.active {
                    >a{ position: relative;
                        &::after{@include xeicon("\e90b", 1.6rem);@include pos(rt, 1rem,50%, 0 ,-50%);border:0;}
                    }
                    span{color:#111;font-weight:700;background-color:#fff;}                    
                    .submenu{display:block;padding:0 2rem;max-height:inherit;height:100%;}
                }
            }
            &.active{
                .depth1 {
                    >a{position: relative;width:$depth1W;
                        span{text-align: left;padding-left: 1rem;padding-right: 1rem;}                        
                    }
                }
            }
            .submenu{display:none;position:absolute;top:0;left:$depth1W;width:calc(100% - #{$depth1W});height:100%;background-color:#fff;overflow-y:auto}
            .depth2>li{flex-basis:100%;
                &.active{
                    >a{background-color:$color1;color:#fff}
                    >.depth3{display:block;margin:1rem}
                }
                &.is-depth3{
                    >a::before{ @include xeicon('\e942', 1.8rem); @include pos(rt, 1.4rem, 1.7rem); z-index:2;color:#aaa;transition:.2s}
                    &.active>a::before{transform:rotate(180deg);color:#fff}
                }
                >a{border-bottom:1px solid #ddd;border-radius: 0;}
            }
            .depth3{display:none;
                >li~li{border-top:1px solid #e6eaef}
            }
        }
        .main{margin-top: $mobileHeadH;}
    }  
    .main{margin-top: $mobileHeadH;}
    #snb,
    .footer_logo{display: none;}  
    .footer .container .call_advice { display: none;}
    .footer {
        
        .foot_banner{  border-top: 0 ;
            .slick-slide{ background-color: #fff;  margin-left: 16px; margin-right: 16px; 
                img{ width: auto; height: auto; max-height: 24px;   margin-top: 12px;  margin-bottom: 12px;   }
            }
            .slick-dots li{ width: 8px; height: 8px; background-color: #d4dadd; border-radius: 200px;
                &.slick-active{ background-color: hsl(200, 12%, 55%); }
                button{ width: 100%; height: 100%; padding:0; 
                    &::before{ display: none; }
                }
            }
        }
    }


}
@media (max-width:$mobile){
    html{font-size:8px}
    .footer{  /* padding-top:2rem; */
        .container{display: flex;flex-wrap: wrap;}
        .foot_banner{ 
            .slick-slide{ border: 1px solid #f5f5f5; margin-left: 4px; margin-right: 4px;  }
        }
        .footer_nav_bar{order:1;width:100%;}
        .footer_nav{width:100%;text-align: center;padding-bottom:2rem;border-bottom:1px solid rgba(90, 90, 90, .3);
            >li{padding-left:1rem;margin-left:1rem}
        }
        .sns{margin:0 auto 2rem}
        .address_group{order:1;text-align:left;padding-right:0;
            span{ display: block;
            &::before{ display: none !important;}}
        }
        .address address{word-break:keep-all; }
        .relate_site{order:0;position:relative;right:auto;top:auto;width:100%;margin-bottom:3rem;}
    }   
    .modal_popup_wrap .modal_popup{width: 100%; max-height: 100% ;}  
    .modal_popup_wrap .modal_popup.m_large {width: 100%;}  
}
