//container 
$container : 1280px;

$web : $container - .02px;
$pad : 1023.98px;//ipad 768*1024 ipad pro 1024*1366
$mobile : 767.98px;

$headerHeight: 16.3rem;
$fixedHeadH: 7rem;
$mobileHeadH : 7.2rem;

//color
$color1 : #7DB209; /* --primary : hsla(79, 90%, 37%, 1) */
$color2 : #282E3E;
$color3 : #3d4968;
$color4 : #2A7ABF;
$color5 : #35B26D;

$gray : #f7f8fa;
$gray2 : #4D4D4D;

//font
$eng : "Montserrat";

//percent 
@function per($target, $base) {
  @return ($target / $base) * 100%;
}

//flex
@mixin flex($jc:center, $ai:center){
  display: flex;justify-content:$jc; align-items:$ai;
}
@mixin flexW($w:auto, $g:1, $s:1){
  flex:$g $s $w; 
  @if ($w != auto)  { max-width:$w;}
  @else if ($w == auto) { max-width:inherit;} 
}

//position:absolute
@mixin pos ($pos, $n1, $n2, $x:null, $y:null){
  position:absolute; 
  @if ($x != null and $y == null)  {transform:translateX($x);}
  @else if ($x != null and $y != null) {transform:translate($x, $y);} 
  @if ($pos == lt) {left: $n1; top:$n2;}
  @else if ($pos == rt) {right: $n1; top:$n2;}
  @else if ($pos == lb) {left: $n1; bottom:$n2;}
  @else if ($pos == rb) {right: $n1; bottom:$n2;}
}

//inactive
@mixin inactive($sec:null,$height:null){
  opacity:0;visibility:hidden;max-height:$height;transition:$sec;
}
//inactive
@mixin active($height:null){
  opacity:1;visibility:visible;max-height:$height;
}

//ellipsis
@mixin ellipsis{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
@mixin ellipsis2($row, $height){display:block; display:-webkit-box; -webkit-line-clamp: $row; max-height:$height; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;white-space:normal;word-wrap:break-word;word-break:keep-all}

//scrollbar
@mixin scrollbar($track:#f5f5f5, $thumb:#d5d7dc, $size:.6rem,  $round:1rem, $direction:v){
  &::-webkit-scrollbar-track{background-color: $track; border-radius: $round;}
  &::-webkit-scrollbar	{
    @if ($direction == v) { width: $size; }
    @else if ($direction == h) { height: $size; }
  } 
  &::-webkit-scrollbar-thumb{background-color: $thumb; border-radius: $round;}
}

//xeicon
@mixin xeicon($cont, $size:null){
  display:inline-block; font-family: xeicon; content:$cont; font-size: $size;
}

//blank
@mixin blank{
  @include xeicon('\e980', 1em); margin-left:.3rem; font-weight:300;
}

//1px vertical Bar
@mixin vbar($w, $h, $color, $s:.6rem){ position: relative;padding-left: $s;margin-left: $s;
  &::before{content: '';display: block;background-color: $color;width: $w;height: $h;@include pos(lt, 0, 50%, 0, -50%);}
}

@mixin bullet($width, $height, $color, $top:1rem, $round:null){
	position:relative;
	padding-left:$width + 1rem;
	&::before{
		content: ""; display:block;position:absolute;left:0;top:$top;
		width: $width; height: $height; background-color: $color; border-radius: $round;
	}
}

//circle
@mixin circle($size, $color:null){border-radius:50%;width:$size;height:$size;text-align:center;background-color:$color;}

//gradient
@mixin gradient($direction, $colorF, $colorE){
  background: $colorF;
  @if($direction == h){background: linear-gradient(to right, $colorF, $colorE);}
  @else if($direction == v){background: linear-gradient(to bottom, $colorF, $colorE);}
  @else{background: linear-gradient($direction, $colorF, $colorE);}  
}




// @mixin bullet($width, $height, $color, $top:1rem, $round:null){
// 	position:relative;
// 	padding-left:$width + 1rem;
// 	&::before{
// 		content: ""; display:block;position:absolute;left:0;top:$top;
// 		width: $width; height: $height; background-color: $color; border-radius: $round;
// 	}
// }


// @mixin vertical{display:inline-block;vertical-align:middle;}
// @mixin align($h, $v){
//   display: -webkit-box; //chrome 박스
//   -webkit-box-align: $v; //chrome 수직가운데
//   -webkit-box-pack: $h; //chrome 수평가운데
//   display: -ms-flexbox;//ie 박스
//   align-items: $v; //ie 수직가운데
//   -ms-flex-pack: $h; //ie 수평가운데
//   //justify-content: center;
//   //display: flex;
//   //-ms-flex-align: center;
// }




// //bg
// @mixin bg($class) { background:url("../../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat }
// @mixin classBg($class) {
//    .#{$class}{background:url("../../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat;}
// }



// @mixin octagon($size){width: $size;height: $size;position: relative;
//   &::before,&::after{content: ""; width: $size + 0.1rem; height: 0; position: absolute;left: -0.05rem;border: $size/3.3 solid transparent;border-left-color:#fff;border-right-color:#fff;}
//   &::before { top: -$size/3.3; }
//   &:after { bottom: -$size/3.3;} 
// }


