@charset "UTF-8";
/*  */
/* =======================================================================================
breadcrumbs
======================================================================================= */
.sns_list {
  position: absolute;
  left: 0;
  top: 3.6rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.sns_list li {
  margin-top: 0.4rem;
}
.sns_list li i {
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.2s;
}
.sns_list li .xi-facebook {
  background-color: #4267b2;
  border: 1px solid #4267b2;
}
.sns_list li .xi-twitter {
  background-color: #01aced;
  border: 1px solid #01aced;
}
.sns_list li .xi-naver {
  background-color: #3acc15;
  border: 1px solid #3acc15;
}
.sns_list li .xi-kakaostory {
  background-color: #fac500;
  border: 1px solid #fac500;
}
.sns_list li .xi-share {
  background-color: #868e96;
  border: 1px solid #868e96;
  padding-bottom: 0.2rem;
}
.sns_list li button:hover i {
  background-color: #fff;
}
.sns_list li button:hover .xi-facebook {
  color: #4267b2;
}
.sns_list li button:hover .xi-twitter {
  color: #01aced;
}
.sns_list li button:hover .xi-naver {
  color: #3acc15;
}
.sns_list li button:hover .xi-kakaostory {
  color: #fac500;
}
.sns_list li button:hover .xi-share {
  color: #868e96;
}

.sns {
  position: relative;
}
.sns .sns_btn {
  background-color: #fff;
}
.sns.active .sns_btn {
  background-color: #3d4968;
  border-color: #3d4968;
  color: #fff;
}
.sns.active .sns_list {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.breadcrumbs_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs_bar .breadcrumbs {
  font-size: 1.5rem;
}
.breadcrumbs_bar .breadcrumbs li {
  display: inline-block;
}
.breadcrumbs_bar .breadcrumbs li ~ li::before {
  display: inline-block;
  font-family: xeicon;
  content: "\e940";
  margin: 0 0.25rem;
}
.breadcrumbs_bar .breadcrumbs .xi-home {
  font-size: 1.5rem;
  color: #666;
}
.breadcrumbs_bar .breadcrumbs .current {
  font-weight: 700;
  color: #46464a;
}
.breadcrumbs_bar .sns {
  display: inline-block;
  padding: 0;
  margin-left: 1.8rem;
}
.breadcrumbs_bar [class$=_btn] {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  font-size: 1.8rem;
  border: 1px solid #DDD;
  border-radius: 50%;
  color: #666;
  position: relative;
  z-index: 2;
}
.breadcrumbs_bar [class$=_btn]:hover {
  color: #000;
  background-color: #fff;
  transition: 0.2s;
}

/* =======================================================================================
contentWrap = snb + content
======================================================================================= */
/*
$snbWpx : 280px;//왼쪽메뉴 넓이(px)
$snbW :  per($snbWpx, $container); //왼쪽메뉴 넓이(%)
$contMW : $container - $snbWpx; //콘텐츠 영역 Min-width
$contW : per($contMW, $container); //콘텐츠영역 넓이(%)
*/
#contentWrap {
  display: flex;
  padding-top: 5.2rem;
  padding-bottom: 8rem;
  position: relative;
  justify-content: space-between;
}
#contentWrap h5 {
  font-size: 2.7rem;
}
#contentWrap h6 {
  font-size: 2.4rem;
}

#snb a[target=_blank]::after {
  display: inline-block;
  font-family: xeicon;
  content: "\e980";
  font-size: 1em;
  margin-left: 0.3rem;
  font-weight: 300;
}

#snb .nav .depth2 > li > a::after {
  display: inline-block;
  font-family: xeicon;
  content: "\e93f";
  font-size: 1.8rem;
  position: absolute;
  right: 1.4rem;
  top: 1.7rem;
  z-index: 2;
  color: #aaa;
  transition: 0.2s;
}
#snb .nav .depth2 > li:hover > a::after {
  transform: translateX(0.5rem);
}
#snb .nav .depth2 > li.active > a::after {
  color: #fff;
}

/* snb */
.sub_visual {
  height: 15rem;
  line-height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.sub_visual.img01 {
  background-image: url(../img/common/topbanner01.jpg);
}
.sub_visual.img02 {
  background-image: url(../img/common/topbanner02.jpg);
}
.sub_visual.img03 {
  background-image: url(../img/common/topbanner03.jpg);
}
.sub_visual.img04 {
  background-image: url(../img/common/topbanner04.jpg);
}
.sub_visual.img05 {
  background-image: url(../img/common/topbanner05.jpg);
}
.sub_visual.img06 {
  background-image: url(../img/common/topbanner06.jpg);
}
.sub_visual .sub_title {
  text-align: center;
}
.sub_visual .sub_title span {
  color: #fff;
  font-size: 3.5rem;
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subMenu {
  background: #31568a;
}
.subMenu .content {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.subMenu .content .tabs {
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
  flex-wrap: wrap;
}
.subMenu .content .tabs li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  background-color: #31568a;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-bottom: none;
  color: #fff;
}
.subMenu .content .tabs li::after {
  content: "";
  display: block;
  border: 1rem solid transparent;
  border-top-color: #3d4968;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.subMenu .content .tabs li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.7rem 0.4rem;
  line-height: 1.35;
  font-size: 1.7rem;
}
.subMenu .content .tabs li:hover {
  background-color: #1d3c68;
  transition: 0.2s;
}
.subMenu .content .tabs li.active {
  position: relative;
  background-color: #fff;
  color: #0353c4;
  font-weight: 500;
  border-bottom-width: 1px;
}
.subMenu .content .tabs li.active::after {
  display: none;
}
.subMenu .content .tabs li.active a {
  padding-top: 1.9rem;
}
.subMenu .content .tabs li ~ li {
  margin-left: -1px;
}

#snb {
  flex: 0 0 24rem;
  max-width: 24rem;
  padding-right: 2rem; /*width:$snbW; padding-right:6rem;*/
}
#snb .title {
  background: transparent linear-gradient(143deg, #2A7ABF 0%, #143b6a 100%) 0% 0% no-repeat padding-box;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  padding: 4.4rem 0;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
}
#snb .nav .depth2 {
  border-bottom: 1px solid #d3d8dd;
}
#snb .nav .depth2 > li {
  position: relative;
}
#snb .nav .depth2 > li ~ li {
  border-top: 1px solid #eaeef3;
}
#snb .nav .depth2 > li > a {
  display: block;
  padding: 1.6rem 1rem 1.5rem 1.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -1px;
  position: relative;
  z-index: 1;
}
#snb .nav .depth2 > li.active > a {
  background-color: #3d4968;
  color: #fff;
  border-radius: 0.3rem;
}
#snb .nav .depth2 > li.active .depth3 {
  display: block;
}
#snb .nav .depth2 .is-depth3 > a::after {
  transform: rotate(90deg);
}
#snb .nav .depth2 .is-depth3:hover a::after {
  transform: translateX(0) rotate(90deg);
}
#snb .nav .depth2 .is-depth3.active a::after {
  transform: translateX(0) rotate(-90deg);
}
#snb .nav .depth3 {
  background-color: #F5F7F8;
  display: none;
  padding: 0 3rem;
}
#snb .nav .depth3 > li.active > a {
  color: #2D4992;
}
#snb .nav .depth3 > li > a {
  display: block;
  position: relative;
  font-size: 1.5rem;
  padding: 1.5rem 0 1.5rem 1.1rem;
  color: #555;
}
#snb .nav .depth3 > li > a::before {
  content: "";
  background-color: #3D4968;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2.1rem;
}
#snb .nav .depth3 > li > a:hover {
  text-decoration: underline;
}
#snb .nav .depth3 > li ~ li {
  border-top: 1px solid #ddd;
}

/* content */
.snb + .content {
  max-width: 100rem;
}

.content {
  width: 100%; /* flex:0 0 per($container - 280px, $container); 콘텐츠에 slider가 있을경우 넓이가 제대로 잡히지 않아 width로 수정 */
  position: relative;
}
.content .h1_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.content .tabs,
.content .depth4 {
  display: flex;
  width: 100%;
  margin-bottom: 5.3rem;
  flex-wrap: wrap;
}
.content .tabs li,
.content .depth4 li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  border: 1px solid #e1e6eb;
  background-color: #fff;
}
.content .tabs li::after,
.content .depth4 li::after {
  content: "";
  display: block;
  border: 1rem solid transparent;
  border-top-color: #3d4968;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.content .tabs li a,
.content .depth4 li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.3rem 0.4rem;
  line-height: 1.35;
  font-size: 1.7rem;
}
.content .tabs li:hover,
.content .depth4 li:hover {
  background-color: #edeef3;
  transition: 0.2s;
}
.content .tabs li.active,
.content .depth4 li.active {
  position: relative;
  background-color: #3d4968;
  border-color: #3d4968;
  color: #fff;
  font-weight: 700;
  border-bottom-width: 1px;
}
.content .tabs li.active::after,
.content .depth4 li.active::after {
  bottom: -1.8rem;
  opacity: 1;
  visibility: visible;
  max-height: inherit;
  transition-delay: 0.1s;
}
.content .tabs li ~ li,
.content .depth4 li ~ li {
  margin-left: -1px;
}
.content [class^=title_h] {
  position: relative;
}
.content [class^=title_h] small {
  font-size: 1.7em;
  font-weight: 400;
  color: #777;
  margin-left: 2rem;
}
.content .title_h1 {
  font-size: 3.4rem;
  color: #000;
}
.content .title_h2 {
  font-size: 2.6rem;
  color: #242427;
  margin: 4.6rem 0 2.5rem 0;
}
.content .title_h3 {
  font-size: 2.4rem;
  color: #3b3b3e;
  margin: 3.5rem 0 1.5rem;
  padding-left: 3rem;
}
.content .title_h3::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2rem;
  background: url(../img/common/h3_icon.png) 0 0/cover no-repeat;
  position: absolute;
  left: 0;
  top: 0.5rem;
}
.content .title_h4 {
  margin: 2rem 0 1.2rem;
}
.content p {
  line-height: 1.8;
}
.content p ~ p {
  margin-top: 1rem;
}

/* tab */
.tab_wrap .depth4 {
  margin-top: 5rem;
}
.tab_wrap .tab_cont {
  display: none;
}
.tab_wrap .tab_cont:first-of-type {
  display: block;
}

/* list */
.list_dot > li {
  position: relative;
  padding-left: 1rem;
  line-height: 1.7;
}
.list_dot > li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #c6c7cb;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 1.2rem;
}
.list_dot > li ~ li {
  margin-top: 0.5rem;
}

.list_dash > li {
  position: relative;
  padding-left: 1rem;
  line-height: 1.7;
  margin-top: 0.5rem;
}
.list_dash > li::before {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background-color: #717171;
  position: absolute;
  left: 0;
  top: 1.2rem;
}

/* box */
.box {
  padding: 3rem;
  display: flex;
  border-radius: 1rem;
  border: 1px solid #dddddd;
}
.box.bg-gray, .box.bg_gray {
  background-color: #F7F8FA;
}
.box.noborder {
  border: 0;
}

/* table */
.table {
  margin: 2rem 0;
}
.table table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  border-top: 2px solid #444;
}
.table table.layout_auto {
  table-layout: auto;
}
.table table td, .table table th {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-top: 0;
  padding: 1.5rem 0.5rem;
  word-break: break-word;
  word-wrap: break-word;
}
.table table td.narrow, .table table th.narrow {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.table table td:first-child, .table table th:first-child {
  border-left: 0;
}
.table table td:last-child, .table table th:last-child {
  border-right: 0;
}
.table table thead th {
  background: #f5f7fd;
  color: #333;
  padding: 1.5rem 0;
  border: 1px solid #e8e8e8;
  border-bottom-color: #d3d8dd;
  border-top-color: #777;
}
.table table tbody th, .table table tfoot th {
  background: #fafbff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #444;
  letter-spacing: -1px;
}
.table table ul {
  margin: 0.5rem 0;
}
.table table ul > li {
  font-size: 1em;
}
.table .unit {
  text-align: right;
  font-size: 0.933em;
  margin: 0 0 0.5rem;
}
.table.txt_small {
  margin: 1rem 0;
  font-size: 1.4rem !important;
}
.table.txt_small td, .table.txt_small th {
  padding: 0.8rem 0.5rem;
}

/* tbl 부트스트랩 버전 테이블 스타일 추가_221018 */
/* tbl_테이블 태그 안에 버튼이 들어가는 경우_추가_221018 */
.tbl .btn {
  padding: 0.4rem 1rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  margin: 2px;
}

.tbl .btn ~ .btn {
  margin-left: 0;
}

/* button */
button.disabled {
  opacity: 0.45 !important;
  pointer-events: none !important;
}

@media (max-width: 1023.98px) {
  #contentWrap {
    padding-top: 0;
  }
  .content .h1_area {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  .content .title_h1 {
    order: 1;
    width: 100%;
    margin-top: 3rem;
  }
  .content .tabs {
    margin-top: 2rem;
  }
  .breadcrumbs_bar {
    background-color: #F0F8FD;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    order: 0;
    padding: 0.65rem 1.2rem;
    margin: -1px -1.5rem 0;
    width: calc(100% + 3rem);
  }
  .breadcrumbs_bar .print_btn {
    display: none;
  }
  #snb {
    position: absolute;
    left: 0;
    top: -5.3rem;
    z-index: 3;
    width: calc(100% - 5rem);
  }
  #snb .title {
    display: none;
  }
  #snb .nav .depth2,
  #snb .nav .depth2 > li ~ li {
    border: 0;
  }
  #snb .nav .depth2 > li > a,
  #snb .nav .depth3 > li a {
    font-size: 1.7rem;
    background-color: #f6f6f8;
    padding: 0 3.2rem 0 1.1rem;
    max-height: 0;
    border: 0;
    transition: 0.2s;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #snb .nav .depth2 > li > a {
    width: 50%;
  }
  #snb .nav .depth2 > li .depth3 {
    background-color: #f6f6f8;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    width: 50%;
    margin: 0;
    padding: 0;
    z-index: 2;
    border-left: 1px solid #d2d4da;
  }
  #snb .nav .depth2 > li.active > a,
  #snb .nav .depth3 > li.active a,
  #snb .nav .depth2.active > li > a,
  #snb .nav .depth3.active > li > a {
    color: #46464a;
    font-weight: 500;
    padding-top: 1.6rem;
    padding-bottom: 1.5rem;
    max-height: 5.7rem;
    border-bottom: 1px solid #d2d4da;
    border-right: 1px solid #d2d4da;
    position: relative;
  }
  #snb .nav .depth3 > li > a:hover {
    text-decoration: none;
  }
  #snb .nav .depth2 > li.is-depth3.active > a::after,
  #snb .nav .depth3 > li.active > a::after {
    transform: rotate(0);
  }
  #snb .nav .depth3 > li > a::before {
    display: none;
  }
  #snb .nav .depth3 > li > a::after {
    display: block;
  }
  #snb .nav .depth3 > li ~ li {
    margin-top: 0;
  }
  #snb .nav .depth2.active > li.active > a,
  #snb .nav .depth3.active > li.active > a {
    background-color: #e4e4e8;
  }
  #snb .nav .depth2.active > li.is-depth3.active > a::after,
  #snb .nav .depth3.active > li.active > a::after {
    color: #000;
    transform: rotate(180deg);
  }
  .content {
    max-width: inherit !important;
  }
  .content .depth4 li {
    flex-basis: 50%;
  }
  .content .depth4 li:nth-child(2) ~ li {
    margin-top: -1px;
  }
  .content .depth4 li.active::after {
    display: none;
  }
  .subMenu {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .table.responsive {
    overflow-x: auto;
  }
  .table.responsive table {
    min-width: 700px;
  }
  .content .title_h2 {
    font-size: 2.2rem;
  }
}
@media all and (max-width: 480px) {
  .content .tabs li {
    flex-basis: 25%;
  }
}/*# sourceMappingURL=sub_layout.css.map */