@charset "UTF-8";/*  */
.container { max-width: 1280px; }
.main .slick-track { margin: 0; }
.section02 .right_area .bnr, .section02 .right_area { border-radius: 0rem; }
.controls button { display: none; }
.controls button.active { display: block; }
#content { width: 100%; margin: 0; }
/* #content + .section {
  padding-top: 8rem;
} */

/* =======================================================================================
section01 - visual
======================================================================================= */
/* mainvisual */
.mainvisual { position: relative; height: auto; padding-top: 0px; z-index: 1; overflow: hidden; }
.mainvisual .cycle-slideshow { text-align: center; height: 39rem; }
.mainvisual .cycle-slideshow .slide { width: 100%; height: 100%; background-size: cover !important; }
.mainvisual .slide .txt-box { display: block; position: relative; top: 86px; text-align: left; padding-left: 1rem; width: 1280px; margin: 0 auto; }
.mainvisual .slide .txt-box .tit { font-size: 3.2rem; font-weight: 600; color: #fff; }
.mainvisual .slide .txt-box .content { font-size: 2.2rem; color: #fff; margin-top: 20px; line-height: 33px; }
.mainvisual .cont-box { position: absolute; top: calc(100% - 80px); left: calc(50% - 80px); z-index: 202; }
.mainvisual .cont-box .pagerWrap { position: relative; }
.mainvisual .cont-box .pagerWrap #adv-custom-pager { display: inline-block; }
.mainvisual .cont-box .pagerWrap #adv-custom-pager a { display: inline-block; width: 12px; height: 12px; margin-left: 10px; background: url(../img/main/bg_pagerOff.png) 0 0 no-repeat; background-size: cover; }
.mainvisual .cont-box .pagerWrap #adv-custom-pager a.cycle-pager-active { width: 50px; background: url(../img/main/bg_pagerOn.png) 0 0 no-repeat; background-size: cover; }
.mainvisual .cont-box .pagerWrap button { position: relative; display: inline-block; margin-left: 10px; width: 24px; height: 24px; top: -5px; border: none; font-size: 0; line-height: 0; text-indent: -999px; }
.mainvisual .cont-box .pagerWrap button.blind { display: none; }
.mainvisual .cont-box .pagerWrap .btnStop { background: url(../img/main/btn_stop.png) 0 0 no-repeat; background-size: cover; }
.mainvisual .cont-box .pagerWrap .btnPlay { background: url(../img/main/btn_play.png) 0 0 no-repeat; background-size: cover; }
.countdown { position: relative; margin-bottom: -1.5rem; }
.countdown .container { position: relative; left: 0; top: -2.4rem; z-index: 7; display: flex; justify-content: center; align-items: center; color: hsla(196, 5%, 24%, 1) ; font-size: 2rem; font-weight: 500; border-radius: 5rem; padding: 2.2rem; gap: 1rem; background-color: hsla(52, 91%, 55%, 1); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); }
.countdown strong { font-weight: 700; }
.countdown .info { margin-right: 2rem; }
.countdown i { font-size: 2.5rem; }
.countdown .time { display: inline-flex;  padding: 0.8rem 1.4rem; justify-content: center; align-items: center; font-size: 2.2rem; font-weight: 700; gap: 1rem; border-radius: 0.5rem; background-color: #fff; }
.countdown .time + .time {min-width: 13.5rem;}
.section { padding: 0 0 7rem 0; }
#content + .section01 { padding: 6rem 0 6rem 0; }
.section01 .container { display: flex; justify-content: space-between; flex-wrap: wrap; }
.section01 .con_area { flex: 1 1 100%; max-width: 100%; position: relative; }
.section01 .con_area .slider_info { position: relative; }
.section01 .con_area .slider_info h2 { display: inline-block; font-size: 2.6rem; font-weight: 600; letter-spacing: -1px; }
.section01 .con_area .slider_info .more { position: relative; left: 0; top: 0rem; width: 3rem; height: 3rem; font-size: 1.8rem; display: inline-block; justify-content: center; align-items: center; transition: 0.2s; }
.section01 .con_area .slider_info .desc { color: #666; }
.section01 .con_area .slider_info .sort { display: block; text-align: left; width: 100%;; margin: 2.3rem 0; }
.section01 .con_area .slider_info .sort button { min-width: 11.2rem; color: var(--dark1); text-align: center; font-size: 1.6rem; font-weight: 600; padding: 1.45rem 1rem; border-radius: 4.8rem; border: 1px solid #EBEBEB; background: #fff; transition: 0.2s; }
.section01 .con_area .slider_info .sort button:hover, .section01 .con_area .slider_info .sort button.active { color: #FFF; border: 1px solid #0090D0; background: #0090D0; }
.section01 .left_arcon_areaea .slider_info .sort button + button { margin-left: .8rem; }
.section01 .con_area .slider_list { margin-right: -1.5rem; }
.section01 .con_area .slider_list li { /* width: 22.4rem; */
  height: auto; margin-right: 1.5rem; }
.section01 .con_area .slider_list li .card_item { display: inline-block; width: 100%; }
.section01 .con_area .slider_list li .card_item .image_area .img_area { position: relative; display: block; padding-top: 57.38%; background-color: #f5f5f5; border-radius: .8rem; background-image: url(../img/common/logo.svg); background-size: 50%; background-repeat: no-repeat; background-position: center; }
.section01 .con_area .slider_list li .card_item .image_area .img_area img { position: absolute; display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; top: 0; left: 0; border-radius: 0.8rem; }
.section01 .con_area .slider_list li .card_item .des { padding: 1.5rem 0 .5rem 0; }
.section01 .con_area .slider_list li .card_item .card_labels { display: flex; margin-bottom: 1.2rem; align-items: center; gap: 1rem; }
.section01 .con_area .slider_list li .card_item .card_labels span { color: #666; font-size: 1.3rem; padding: 0.4rem 0.6rem; border-radius: 0.4rem; background: #F5F5F5; }
.section01 .con_area .slider_list li .card_item .des p { word-break: keep-all; }
.section01 .con_area .slider_list li .card_item .des .des1 { color: #333; font-weight: 600; font-size: 1.6rem; line-height: 2.2rem; height: 4.4rem; margin-bottom: 1.2rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }
.section01 .con_area .slider_list li .card_item .des .des2 { font-weight: 400; color: #999; font-size: 1.4rem; }
.section01 .slick-prev, .section01 .slick-next { color: var(--dark1); border: none; outline: none; background: transparent; }
.section01 .slick-next { right: -43px}
.section01 .slick-prev:before { width: 1.5rem; height: 2.5rem; margin: 0; left: 0; top: 0; font-size: 3.2rem; font-family: xeicon; content: "\e93b"; background: none; }
.section01 .slick-next:before { width: 1.5rem; height: 2.5rem; margin: 0; left: 0; top: 0; font-size: 3.2rem; font-family: xeicon; content: "\e93e"; background: none; }
.section01 .slick-prev:hover, .section01 .slick-prev:focus, .section01 .slick-next:hover, .section01 .slick-next:focus { color: var(--dark1); }
.section01 .con_area .slider_list .slick-dots { position: relative; display: flex; max-width: 100em; width: calc(100% - 2em); height: 2px; left: -1rem; bottom: -1em; margin: 0 auto; background-color: #f5f5f5; }
.section01 .con_area .slider_list .slick-dots li { flex: 1; display: inline-block; border: none; width: auto; height: auto; top: 0; opacity: 1; margin: 0; }
.section01 .con_area .slider_list .slick-dots li button { display: inline-block; height: auto; width: auto; }
.section01 .con_area .slider_list .slick-dots li button::before { display: none; }
.section01 .con_area .slider_list .slick-dots li.slick-active { opacity: 1; display: inline-block; background-color: hsl(208, 100%, 34%); }
.section01 .con_area .slider_list .slick-dots li.slick-active button:before { display: none; }
.section01 .con_area .no-list { display: flex; align-items: center; height: 35.75rem; justify-content: center; border: 1px solid #d4dadd; /*background: url("../img/common/gnb_title_bg.png") 52% 20% no-repeat;*/
  background-size: 150px; background-color: #f5f5f5; }
.section.bgBlue { padding: 8rem 0; background-color: var(--darkblue); }
.section.bgGray { padding: 6rem 0; margin-bottom: 6rem; background-color: var(--gray9); }
.section01.bgBlue .left_area .slider_list li .card_item { background-color: #fff; }
.section01.bgBlue .left_area .slider_list li { border: 0; }

.mv_banner { position: absolute; top:0; left: calc(50% - 640px) ; z-index: 196; width: 1280px; margin: 0 auto; }
.mv_banner .ban {display: flex; }
.mv_banner a {position: relative; top: 4rem; font-size: 1.8rem; line-height: 1.2; margin-left: auto; overflow: hidden; width:110px; height: 110px; display: flex; justify-content:center; flex-direction: column; text-align: center; font-weight: 500; border-radius: 3rem; color: #fff; background: linear-gradient(300deg,#583daf 0,#e962ee 100%); box-shadow: 0 7px 20px 0 rgba(110,78,220,.3);}
.mv_banner a i {margin-bottom: .8rem; transition:all 0.3s;}
.mv_banner i {transition:all 0.3s; -webkit-transition:all 0.3s;}
.mv_banner strong span {display: block;}
.mv_banner  i.big {position:relative; font-size: 2.8rem; z-index: 198;}
.mv_banner  i.xi-full-moon { z-index: 197;}
.mv_banner  i.xi-full-moon.colorA {position:absolute; left:-2.4rem; top:-2.8rem; font-size: 8rem; color: hsla(298, 72%, 65%, 0.5); }
.mv_banner  i.xi-full-moon.colorB {position:absolute; right:-2.8rem; bottom:-1.6rem; font-size: 6rem; color: hsl(61, 91%, 40%, 0.4);}
.mv_banner  i.xi-full-moon.colorC {position:absolute; right:1.2rem; top:-.8rem; font-size: 3rem; color: hsl(199, 69%, 61%, 0.3);}
.mv_banner  i.xi-full-moon.colorD {position:absolute; right:1.8rem; top:-.8rem; font-size: 3rem; color: hsla(135, 69%, 61%, 0.3);}
.mv_banner  i.xi-full-moon.colorE {position:absolute; left:2.4rem; top:-2.8rem; font-size: 5rem; color: hsla(320, 72%, 65%, 0.5); }
.mv_banner  i.xi-full-moon.colorF {position:absolute; left:2.4rem; top:-2.8rem; font-size: 4rem; color: hsla(187, 72%, 65%, 0.5); }
.mv_banner a:hover {background: linear-gradient(300deg,#4a3394 0,#c04ec4 100%); box-shadow: 0 7px 20px 0 rgba(44, 44, 44, 0.87);}
/* 
@keyframes animatedRoundA {
  from { color:#e962ee; opacity: .1; }
  50% { color:#2b7c81; opacity: .2; }
  to { color:#e962ee; opacity: .1; }
}
@keyframes animatedRoundB {
  from { color:#5536c4; opacity: .4; }
  50% { color:#c2c509; opacity: .1; }
  to { color:#5536c4; opacity: .4; }
}
@keyframes animatedRoundC {
  from { color:#a836c4;  opacity: .2; }
  50% { color:#55b4e0;  opacity: .2; }
  to { color:#a836c4;  opacity: .1; }
} */
.mv_banner i.xi-full-moon {
  animation-name: upAnimation;
  transform: translateY(50%);
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.mv_banner  i.xi-full-moon.colorA {
  left: -15%;
  animation-delay: -9s;
}
.mv_banner  i.xi-full-moon.colorB {
  right: -8%;
  animation-delay: -7s;
}
.mv_banner  i.xi-full-moon.colorC {
  left: -10%;
  animation-delay: -6s;
}
.mv_banner  i.xi-full-moon.colorD {
  right: -2%;
  animation-delay: -8s;
}
.mv_banner  i.xi-full-moon.colorE {
  right: -10%;
  animation-delay: -5s;
}
.mv_banner  i.xi-full-moon.colorF {
  left: 10%;
  animation-delay: -4s;
}
@keyframes upAnimation {
  0% {
    transform: translateY(180vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}



/* =======================================================================================
section03
======================================================================================= */
.section03 .title_info { position: relative; }
.section03 .title_info h2 { display: inline-block; font-size: 2.6rem; font-weight: 600; letter-spacing: -1px; }
.section03 .title_info .desc { margin-top: .5rem; color: #666; }
.section03 .best_list { flex-wrap: wrap; display: flex; margin: 2.5rem 0 0 0; }
.section03 .best_list li { width: calc(25% - 2rem + .5rem); margin-right: 2rem; }
.section03 .best_list li:nth-child(4n) { margin-right: 0rem; }
.section03 .best_list li:nth-child(n + 5) { margin-top: 2rem; }
.section03 .best_list li .img_area img { width: 100%; object-fit: cover; height: auto; border-radius: 1.2rem; }
/* =======================================================================================
section04
======================================================================================= */
.section04 { padding: 0rem 0 8rem; }
.section04 .container { display: flex; flex-wrap: wrap; justify-content: space-between; }
.section04 .container ~ .container { margin-top: 6rem; }
.section04 .container h4 { font-size: 2.6rem; margin-bottom: 1.8rem; color: #111; }
.section04 .left_area { flex: 1 1 25%; max-width: 100%; position: relative; }
.section04 .left_area .title { position: relative; padding-top: 0px; padding-bottom: 1em; }
.section04 .left_area .title h2 { position: relative; width: calc(100% - 40px); font-size: 2.2rem; font-weight: 500; color: var(--primary); letter-spacing: -1px; }
.section04 .left_area .title_txt { color: #3A3E40; font-size: 2.6rem; font-weight: 600; line-height: 3.1rem; margin: 1.5rem 0 2rem 0; }
.section04 .left_area .title_txt span { display: block; }
.section04 .left_area .desc { color: #666; font-weight: 500; line-height: 2.2rem; margin-bottom: 2.9rem; }
.section04 .left_area .desc span { display: block; }
.section04 .left_area .btn_list li { margin-bottom: .5rem; }
.section04 .left_area .btn_list li a { position: relative; display: block; width: 19rem; padding: 1.6rem 2.2rem 1.6rem 1.6rem; color: #333; font-weight: 500; border-radius: 1rem; background: rgba(217, 217, 217, 0.40); transition: 0.2s; }
.section04 .left_area .btn_list li a:after { position: absolute; right: 1.3rem; top: 50%; margin-top: -1rem; font-size: 1.6rem; font-family: xeicon; content: "\e907"; background: none; }
.section04 .left_area .btn_list li a:hover { background: rgba(217, 217, 217, 0.6); }
.section04 .right_area { flex: 1 1 75%; max-width: 100%; padding: 0rem 0rem 0rem 0; position: relative; }
.section04 .right_area .review_wrap .review { margin-right: 0; display: flex; gap: 2.3rem; }
.section04 .right_area .review_wrap .review li { flex: 1; padding: 4.4rem 3.3rem; background-color: #fff; border-radius: 3.5rem 1rem; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13); }
.section04 .right_area .review_wrap .review li .review_name div { display: inline-block; vertical-align: middle; }
.section04 .right_area .review_wrap .review li .review_name .photo { display: inline-block; width: 6rem; height: 6rem; }
.section04 .right_area .review_wrap .review li .review_name .photo img { border-radius: 100%; }
.section04 .right_area .review_wrap .review li .review_name .stu { display: inline-block; width: calc(100% - 8.5rem) ; margin-left: 1.5rem; }
.section04 .right_area .review_wrap .review li .review_name .stu .name { color: #333; font-size: 1.6rem; font-weight: 500; line-height: 2rem; margin-bottom: .6rem; display: block; }
.section04 .right_area .review_wrap .review li .review_name .stu .txt_info { color: #959595; font-size: 1.5rem; font-weight: 400; line-height: 1.8rem; }
.section04 .right_area .review_wrap .review li .review_name .review_subject { font-size: 2rem; font-style: normal; font-weight: 600; line-height: 2.6rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }
.section04 .right_area .review_wrap .review li .review_name .review_content { color: #666; font-size: 1.5rem; font-weight: 400; line-height: 2.2rem; min-height: 16rem; margin: 2rem 0 1.8rem 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; word-wrap: break-word; }
.section04 .right_area .bnr { flex: 1 1 100%; max-width: 100%; position: relative; background: #fff; display: flex; gap: 1em; }
/* =======================================================================================
section05
======================================================================================= */
.section05 .popzone { width: 100%; display: block; }
.section05 .popzone .slick-dotted.slick-slider { margin-bottom: 0; }
.section05 .popzone .pop-latest .thumb { border-radius: 1.6rem; width: 100%; height: 190px; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }
.section05 .popzone .slick-dots { top: 7px; width: 14rem; right: 5px; text-align: right; height: 2rem; }
.section05 .popzone .slick-dots li { margin: 0 0px !important; }
.section05 .popzone .slick-dots li button:before { width: 13px; height: 13px; color: #67686c; background-color: #67686c; }
.popzone .slick-prev { left: 1.5rem; z-index: 10; }
.popzone .slick-next { right: 1.5rem; z-index: 10; }
.popzone .slick-prev, .popzone .slick-next { width: 36px; height: 36px; border-radius: 100%; color: #fff; border: none; outline: none; /* background: transparent; */
}
.popzone .slick-prev:before { width: 15px; height: 25px; margin: 0; left: 4px; top: 6px; font-size: 23px; font-family: xeicon; content: "\e93b"; background: none; }
.popzone .slick-next:before { width: 15px; height: 25px; margin: 0; left: 7px; top: 6px; font-size: 23px; font-family: xeicon; content: "\e93e"; background: none; }
.popzone .slick-prev:hover, .popzone .slick-prev:focus, .popzone .slick-next:hover, .popzone .slick-next:focus { color: var(--dark1); }
/* =======================================================================================
section06
======================================================================================= */
.section06 .title_info { position: relative; }
.section06 .title_info h2 { display: inline-block; font-size: 2.6rem; font-weight: 600; letter-spacing: -1px; }
.section06 .title_info .desc { margin-top: .5rem; color: #666; }
.section06 .title_header { margin-bottom: 2.5rem; display: flex; align-items: center; justify-content: space-between; }
.section06 .title_header .btn_area a { position: relative; color: var(--dark1); text-align: center; font-size: 1.6rem; padding: 1.4rem 3.8rem 1.4rem 2.8rem; border-radius: 4.8rem; border: 1px solid #EBEBEB; background: #fff; transition: 0.2s; }
.section06 .title_header a:after { position: absolute; right: 1.5rem; top: 50%; margin-top: -.8rem; font-size: 1.4rem; font-family: xeicon; content: "\e93e"; background: none; }
.section06 .title_header .btn_area a:hover { background: rgba(217, 217, 217, 0.2); }
.section06 .title_header a + a { margin-left: 1rem; }
.section06 .news_slider_list { margin-right: -2.3rem; }
.section06 .news_slider_list li { height: auto; margin-right: 2.3rem; }
.section06 .news_slider_list li .card_item { position: relative; display: inline-block; width: 100%; height: 35rem; border-radius: 0.8rem; overflow: hidden; }
.section06 .news_slider_list li .card_item .image_area { display: block; width: 100%; height: 100%; }
.section06 .news_slider_list li .card_item .image_area .img_are { display: block; width: 100%; height: 100%; background-color: #f5f5f5; background-image: url(../img/common/logo.svg); background-size: 50%; background-repeat: no-repeat; background-position: center; }
.section06 .news_slider_list li .card_item .image_area .img_area img { position: absolute; display: block; width: 100%; height: 100%; object-fit: cover; object-position: center; top: 0; left: 0; }
.section06 .news_slider_list li .card_item .des { position: absolute; bottom: 0; padding: 3rem 3.5rem ; overflow: hidden; background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0)); display: flex; flex-direction: column; min-height: 100%; width: 100%; color: #fff; transition: 0.2s; }
.section06 .news_slider_list li .card_item .des:hover { background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.1)); }
.section06 .news_slider_list li .card_item .des p { word-break: keep-all; }
.section06 .news_slider_list li .card_item .des .des1 { position: absolute; bottom: 2rem; left: 0; padding: 3rem 3.5rem; font-weight: 600; font-size: 2rem; line-height: 1.3; word-wrap: break-word; }
.section06 .slick-prev, .section06 .slick-next { color: var(--dark1); border: none; outline: none; background: transparent; }
.section06 .slick-next { right: -33px}
.section06 .slick-prev:before { width: 1.5rem; height: 2.5rem; margin: 0; left: 0; top: 0; font-size: 3.2rem; font-family: xeicon; content: "\e93b"; background: none; }
.section06 .slick-next:before { width: 1.5rem; height: 2.5rem; margin: 0; left: 0; top: 0; font-size: 3.2rem; font-family: xeicon; content: "\e93e"; background: none; }
.section06 .slick-prev:hover, .section06 .slick-prev:focus, .section06 .slick-next:hover, .section06 .slick-next:focus { color: var(--dark1); }
.section06 .news_slider_list .slick-dots { position: relative; display: flex; max-width: 100em; width: calc(100% - 2em); height: 2px; left: -1rem; bottom: -1em; margin: 0 auto; background-color: #f5f5f5; }
.section06 .news_slider_list .slick-dots li { flex: 1; display: inline-block; border: none; width: auto; height: auto; top: 0; opacity: 1; margin: 0; }
.section06 .news_slider_list .slick-dots li button { display: inline-block; height: auto; width: auto; }
.section06 .news_slider_list .slick-dots li button::before { display: none; }
.section06 .news_slider_list .slick-dots li.slick-active { opacity: 1; display: inline-block; background-color: hsl(208, 100%, 34%); }
.section06 .news_slider_list .slick-dots li.slick-active button:before { display: none; }


@media (max-width:1380px) {
  .mv_banner {width:100%; left:auto; right:2rem;}
  .section01 .slick-prev, .section01 .slick-next, .section06 .slick-prev, .section06 .slick-next { width: 36px; height: 36px; border-radius: 100%; border: none; outline: none; background: rgba(255,255,255,.9); border: 1px solid #ddd; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13); }
  .section01 .slick-prev, .section06 .slick-prev { left: -1rem; z-index: 7; }
  .section01 .slick-prev:before, .section06 .slick-prev:before { width: 15px; height: 25px; margin: 0; left: calc(50% - 13px); top: calc(50% - 12px); font-size: 23px; background: none; }
  .section01 .slick-next { right: .5rem; z-index: 7; }
  .section06 .slick-next { right: 1rem; }
  .section01 .slick-next:before, .section06 .slick-next:before { width: 15px; height: 25px; margin: 0; left: calc(50% - 11px); top: calc(50% - 12px); font-size: 23px; background: none; }
  .section01 .slick-prev:hover, .section01 .slick-prev:focus, .section01 .slick-next:hover, .section01 .slick-next:focus, .section06 .slick-prev:hover, .section06 .slick-prev:focus, .section06 .slick-next:hover, .section06 .slick-next:focus { background: rgba(255,255,255,1); }
}
@media (max-width:1280px) {
  .countdown { padding: 0 1.5rem; }
  .mainvisual .slide .txt-box { top: 65px; width: 90%; }
}
@media (max-width:1200px) {
  .mainvisual .cycle-slideshow { height: 35rem; }
  .section05 .popzone .pop-latest .thumb { width: 100%; height: 175px; -o-object-position: left; object-position: left; }
}
@media (max-width:1023.98px) {
  .mainvisual .cycle-slideshow { height: 30rem; }
  .mainvisual .cont-box { top: calc(100% - 60px); }
  .section01 .container, .section02 .container { display: block; }
  .section01 .con_area, .section01 .right_area, .section02 .left_area, .section02 .right_area { max-width: inherit; }
  .section04 .right_area .review_wrap .review li .review_name .review_content { min-height: auto; }
  .section05 .popzone .pop-latest .thumb { height: 150px; }
  
}
@media (max-width:950px) {
  .mainvisual .slide .txt-box { top: 35px; }
  .section03 .best_list li { width: calc(33.333333% - 2rem + 0.6rem); }
  .section03 .best_list li:nth-child(4n) { margin-right: 2rem; }
  .section03 .best_list li:nth-child(3n) { margin-right: 0rem; }
  .section03 .best_list li:nth-child(n + 4) { margin-top: 2rem; }
  .section04 .left_area .title_txt { margin: .5rem 0; }
  .section04 .left_area .desc { margin-bottom: 1rem; }
  .section04 .left_area .title_txt span, .section04 .left_area .desc span { display: inline; }
  .section04 .left_area .btn_list li { display: inline-block; margin-right: .5rem; }
  .section04 .right_area { flex: 1 1 100%; }
  .section04 .right_area .review_wrap .review li { padding: 2.5rem 2.2rem; }
  .section04 .right_area .review_wrap .review li .review_name .review_content { margin: .6em 0 1em 0; }
  .section05 .popzone .pop-latest .thumb { height: 120px; }
}
@media (max-width:767.98px) {
  .mv_banner a {width: 90px; height: 90px; font-size: 1.6rem;}
  .mainvisual .slide .txt-box .tit { font-size: 2.6rem; }
  .mainvisual .slide .txt-box .content { font-size: 1.8rem; margin-top: 10px; }
  .countdown .container { flex-direction: column; }
  .countdown .time_area { display: flex; align-items: center; gap: 1rem; }
  .section04 .right_area .review_wrap .review { flex-direction: column; }
  .section05 .popzone .pop-latest .thumb { height: 100px; }
  .section06 .title_header { margin-bottom: 1.8rem; flex-direction: column; align-items: flex-start }
  .section06 .title_info { margin-bottom: 1rem; }
  .section06 .title_header .btn_area a { display: inline-block; padding: 1.2rem 3.6rem 1.2rem 2.6rem; }
  .section06 .title_header a + a { margin-left: .5rem; }
  .section01 .con_area .slider_info .sort button {display: inline-block; min-width: auto; width:calc(25% - .5rem);}
	.section01 .con_area .slider_info .sort button { margin-bottom: 0.5rem; padding: 1.3rem .8rem; font-size: 1.6rem; line-height: 1.2; }

}
@media (max-width:620px) {
  .section03 .best_list li { width: calc(50% - 2rem + 1rem); }
  .section03 .best_list li:nth-child(3n) { margin-right: 2rem; }
  .section03 .best_list li:nth-child(2n) { margin-right: 0rem; }
  .section03 .best_list li:nth-child(n + 3) { margin-top: 2rem; }
  .section05 .popzone .pop-latest .thumb { height: 80px; }
  .mainvisual .slide .txt-box {width:calc(90% - 90px); margin:0 0 0 2rem;}
  .mainvisual .slide .txt-box .tit br {display:none;}
  .mainvisual .slide .txt-box .content br {display:none;}
}
@media (max-width:580px) {

}
@media (max-width:480px) {
  .mv_banner a {width: 80px; height:50px;}
  .mv_banner i.big {display: none;}
  .mainvisual { height: auto; }
  .mainvisual .cont-box { top: auto; bottom: 3rem; }
  .mainvisual .slide .txt-box .content { line-height: 24px; }
  .mainvisual .slide .txt-box .tit {line-height: 28px; }
  .countdown {padding: 0rem; margin-bottom: -2.5rem;}
  .countdown .container { top: -1.4rem; gap: .5rem; border-radius: 0; }
  .countdown i { display: none; }
  .countdown .time_area + span { display: none; }
  .section01 .con_area .slider_info .sort button  { width: calc(50% - .5rem);}
  .section04 .left_area .btn_list li a { width: auto; padding-right: 3rem; }
 
}
/* @media (max-width: 380px) {
  .section03 .best_list li {
    width: 100%;
  }
  .section03 .best_list li {
    margin-right: 0 !important;
  }
  .section03 .best_list li:nth-child(n + 2) {
    margin-top: 2rem;
  }
} */